aside {
	float: left;
	width: 250px;
	position: relative;
	z-index: 10;
}
aside .block {
	padding: 1em;
	margin: 1em 0;
	background-color: #fff;
	border-radius: 0 .2em .2em 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
aside .sb-menu a {
	display: block;
	color: #333;
}
aside .sb-menu__sub-menu {
	margin-left: 10px;
}
aside .sb-menu__sub-menu__item,
aside .sb-menu__item {
	clear: both;
	line-height: 24px;
	position: relative;
	padding: 5px 15px;
	margin-left: -1em;
	margin-right: -1em;
}
aside .sb-menu__item {
	font-weight: bold;
}
aside .sb-menu__sub-menu__item {
	margin-top: 0;
}
aside .sb-menu__sub-menu__item:hover,
aside .sb-menu__item:hover {
	background: #f5f5f5;
}
aside .sb-menu__item_active {
	background: #f5f5f5;
}
aside .sb-menu__item_active a {
	color: #444;
	font-weight: bold;
}

aside .sb-menu__item_disabled:hover {
	background: transparent;
}
aside .sb-menu__item_disabled a {
	color: #aaa;
	font-weight: normal;
	text-decoration: none !important;
}
aside .sb-menu__item__add {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 18px;
	text-align: center;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	background: #22B473;
	color: #fff !important;
	text-decoration: none !important;
}
aside .sb-menu__item__add:hover {
	text-decoration: none;
	background: #4ec38f;
}
aside .block span {
	line-height: 1.5em;
}