aside {
	display: none;
}
section.center_wrap .error404 {
	width: 100%;
}
section.center_wrap .error404 img.img404 {
	display: block;
	margin: 10% auto 50px auto;
}
section.center_wrap .error404 a {
	display: block;
	margin: 0 auto 10% auto;
	text-align: center;
}