#cart {
	width: 100%;
}
#cart h2 {
	font-size: 1.5em;
}
#cart .no_items {
	margin: 100px auto;
	text-align: center;
	width: 420px;
}

#cart_table {
	width: 100%;
	margin: 1em 0 0;
}
#cart_table thead tr {
	background: #f36711;
	line-height: 2em;
	color: #fff;
}
#cart_table tr td {
	position: relative;
	text-align: center;
}
#cart_table tbody tr td {
	border-bottom: 1px solid #ddd;
}
#cart_table thead td.price,
#cart_table thead td.quantity {
	width: 120px;
}
#cart_table thead td.sum {
	width: 100px;
}
#cart_table tbody td.cart_remove {
	width: 23px;
}
#cart_table tbody td.cart_remove a {
	font-size: 13px;
	line-height: 21px;
	text-indent: 1px;
	box-shadow: 0 0 3px rgba(180, 180, 180, 1);
	color: #b4b4b4;
	cursor: pointer;
	display: block;
	height: 23px;
	width: 23px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #e0e0e0;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#cart_table tbody td.cart_remove a:hover {
	color: #ff0000;
	box-shadow: 0 0 3px rgba(255, 0, 0, 0.7);
	text-decoration: none;
	border-color: rgba(255, 0, 0, 0.5);
}
#cart_table tbody td.cart_photo {
	width: 120px;
	padding: 10px 5px;
}
#cart_table tbody td.cart_photo img {
	max-width: 100%;
	vertical-align: bottom;
}
#cart_table tbody td.cart_name {
	text-align: left;
}
#cart_table tbody td.cart_name .text_wrapper a:hover {
	text-decoration: none;
}
#cart_table tbody td.cart_name .reference {
	color: #818181;
}
#cart_table tbody td.cart_note {
	width: 200px;
}
#cart_table tbody td.cart_item_price {
	width: 275px;
}
#cart_table tbody td.cart_item_price .buy_buttons input {
	vertical-align: top;
	margin-top: 7px;
}
#cart_table textarea {
	width: 100%;
	min-height: 50px;
	margin-top: 20px;
	height: 50px;
	outline: none;
	resize: vertical;
}

/* clear cart link */
#cart .clear_cart {
	line-height: 2.5em;
	font-size: 1em;
}
#cart .clear_cart .icon-font {
	display: inline-block;
	margin-right: .3em;
	font-weight: bold;
 	color: #f00;
}
#cart .clear_cart a {
	text-decoration: underline;
}
#cart .clear_cart a:hover {
	text-decoration: none;
}

#cart .cart_total {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	background: #52cf55;
	border-radius: 0 0 .3em .3em;
	padding: .5em;
}
#cart .cart_total .cart_order_sum {
	margin: 0 .5em;
}
#cart .cart_total .discount {
	line-height: 47px;
}

/* Форма оформления заказа */

#order fieldset {
	border-radius: .2em;
	margin: 0 0 15px 0;
}
#order fieldset > .row {
	margin-top: 1em;
	line-height: 2em;
}
#order fieldset > .row:first-of-type {
	margin-top: 0;
}
#order fieldset legend {
	padding: 0 5px;
	font-weight: bold;
}
#order label {
	line-height: 27px;
}
#order input:not([type="checkbox"]):not([type="radio"]),
#order select {
	margin: 0;
	width: 100%;
	height: 27px;
	background: #fff;
}
#order .insurance input {
	margin-right: 10px;
}
#order textarea {
	width: 100%;
	outline: none;
	resize: vertical;
	border-radius: 3px;
}
#order textarea:focus {
	border-color: #52cf55;
}
#order .shadowtext {
	color: #818181;
	font-size: 12px;
}
#order span.icon-font {
	padding-right: 5px;
	font-size: 15px;
}
#cart .change_price_column {
	margin-bottom: .5em;
	height: auto;
}
#cart .change_price_column .manual_price_column_change {
	/*display: block;*/
}
#cart .change_price_column .price_columns {
	display: none;
}
#cart .change_price_column #manual_price_column_change_key:checked ~ .price_columns {
	display: block;
}
#cart .change_price_column .price_columns {
	padding: 1em 0;
}
#order .price_columns {
	width: 100%;
	overflow: hidden;
}
#cart .change_price_column .price_columns label {
	line-height: 25px;
	padding: 0 1em 0 .5em;
}
#cart .change_price_column .reason {
	display: none;
}
#cart .change_price_column .reason p {
	padding: .5em 0;
}
#cart .change_price_column .reason #reason {
	width: 100%;
	min-height: 100px;
}
#cart .change_price_column .reason #reason.error {
	border-color: #f44336;
}
#order .save_data,
#order .send_order {
	margin-right: 10px;
}
#order .buttons a {
    vertical-align: bottom;
}
#order span.saved_info {
	font-weight: bold;
}
/*Cart success=================================================================*/

.success_order {
	overflow: hidden;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}
.success_order h2 {
	text-align: center;
	margin-bottom: 20px;
}
.success_order img {
	max-height: 200px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.success_order .order_info {
	text-align: center;
	font-size: 15px;
	margin: 20px 0;
}

@media (max-width: 900px) {
	.success_order p a{
		float: none;
		margin: 0 auto;
		width: 100%;
		margin-bottom: 20px;
	}
}