

#cart {
	padding: 25px 10px;
	width: 1100px;
}
#cart h5 {
	margin: 0;
	margin-left: 35px;
    margin-bottom: 20px;
    float: left;
}
#cart .close_modal {
	padding-top: 15px;
    padding-right: 10px;
    font-size: 1.5em;
}
#cart .order_head ul {
	text-align: left;
	overflow: hidden;
}
#cart .order_head ul li {
	float: left;
	background-color: rgb(245,245,245);
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0;
	text-align: center;
}
#cart .order_head ul li:last-child {
	border-right: none;
}
#cart .order_head ul li.photo {
	margin-left: 35px;
	width: 120px;
}
#cart .order_head ul li.name {
	width: calc( 60% - 155px);
}
#cart .order_head ul li.price {
	width: 38%;
	/*text-align: left;
	padding-left: 10px;*/
}
#cart .card {
	clear: both;
}
#cart .card .product_name,
#cart .card .product_info {
	float: left;
	width: calc( 60% - 155px);
}
#cart .card .product_buy {
	float: left;
	width: 40%;
	display: flex;
    justify-content: space-around;
}
/*#cart .table_wrapp {
	max-height: 500px;
    overflow-y: scroll;
    clear: both;
}*/
/*#cart table {
	margin-bottom: 51px;
}
#cart .table_wrapp table {
	margin-bottom: 0;
}
#cart th,
#cart td {
	vertical-align: middle;
	border: 1px solid #e0e0e0;
	padding: 5px;
}
#cart th {
	border-top: none;
	line-height: 35px;
}
#cart th:first-of-type,
#cart td:first-of-type {
	border-left: none;
}
#cart th:last-of-type,
#cart td:last-of-type {
	border-right: none;
}*/
#cart .order_wrapp {
	clear: both;
	overflow: hidden;
	overflow-y: scroll;
}
#cart .card {
	border-bottom: 1px solid #e0e0e0;
	padding: 5px;
}
#cart .remove_prod_mob {
	display: none;
}
#cart .remove_prod {
	float: left;
	line-height: 100px;
	padding-right: 5px;
	color: #bcbcbc;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
#cart .remove_prod:hover {
	color: inherit;
}
#cart .card .product_photo {
	padding-left: 5px !important;
}
#cart .product_name {
	text-align: left;
}
#cart .product_buy {
	position: relative;
}
#cart .product_buy .buy_block {
	width: auto;
}
#cart .product_buy .buy_block {
	float: right;
	min-width: 210px;
}
#cart .products .product_buy {
	margin-top: 10px;
	width: auto;
	max-width: 335px;
	float: right;
}
#cart .product_buy .summ {
	position: absolute;
    top: -25px;
    right: 35px;
    color: #818181;
    /*font-weight: 500;*/
}
/*#cart .product_buy .summ span {
	font-size: 1.429em;
}*/
#cart .product_buy .buy_block .btn_remove {
	width: auto;
}
#cart .product_buy .buy_block .btn_remove button {
	position: static;
}
#cart .product_buy .buy_block .btn_remove:hover button {
	position: static;
	top: auto;
	height: 25px;
}
#cart .product_buy .buy_block .btn_buy {
	width: auto;
}
#cart .product_buy .buy_block .buy_btn_js {
	position: static;
}
#cart .card:hover .buy_btn_js {
    background-color: #FFCCBC;
    border-color: #FFCCBC;
}
#cart .product_buy .buy_block .btn_buy:hover .buy_btn_js {
	padding: 0 10px;
    position: static;
    top: auto;
    line-height: normal;
    height: 25px;
}
#cart .total {
	font-weight: bold;
	font-size: 1.429em;
	line-height: 45px;
	float: right;
}
#cart .total div {
	display: inline-block;
	min-width: 105px;
	padding: 0 10px;
	border-right: 1px solid #e0e0e0;
}
#cart .total div:last-of-type {
	border-right: none;
}
#cart .total .positions,
#cart .total .total_summ {
	font-size: 14px;
}
#cart .total .positions span,
#cart .total .total_summ span {
	font-size: 1.429em;
}
#cart .total .total_summ {

}
#cart .action_block {
	overflow: hidden;
	clear: both;
	padding-top: 30px;
}
#cart .action_block button {
	background: #ECECEC;
	color: #9e9e9e;
    font-size: 1.786em;
    height: 45px;
    padding: 0 20px;
    margin-top: 20px;
}
#cart .action_block .wrapp:hover button {
	background-color: #FFCCBC;
    border-color: #FFCCBC;
    color: inherit;
}
#cart .action_block button:active {
	background: #D8D8D8;
	color: inherit;
}
#cart .action_block .wrapp {
	width: 340px;
}
#cart .action_block .wrapp:first-of-type {
	float: left;
	padding-left: 70px;
}
#cart .action_block .wrapp:last-of-type {
	float: right;
	padding-right: 70px;
	margin-top: 10px;
}
#cart .tabs_container .in_cart_block {
	border-color: transparent !important;
}
#cart .tabs_container .in_cart_block a {
	display: inline-block;
}
#cart .tabs_container .in_cart_block a span {
	border-radius: 3px !important;
}
#cart .cart_info .your_discount,
#cart .cart_info .tabs_container {
	margin-bottom: 30px;
}
#cart .cart_info .your_discount,
#cart .cart_info .order_balance {
	color: #9e9e9e;
	font-size: 1.429em;
}
#cart .action_block .mdl-textfield {
	width: 100%;
}
/*#cart .action_block .mdl-textfield__input,
#cart .action_block .mdl-textfield__label {
	font-size: 20px;
}*/
#cart .action_block form .mdl-checkbox {
    float: left;
    clear: both;
    text-align: left;
}
#cart .action_block form .number_label {
	position: absolute;
    top: -10px;
    left: 0;
    font-size: 20px;
}
/*#cart .action_block .call {
	position: absolute;
    left: -30px;
    top: 22px;
    color: #9e9e9e;
}*/
