.customer_order {
	display: block;
}
.subtext {
	font-size: 15px;
    padding: 0;
    margin: 0;
    color: #888888;
}
.returns_table.table thead tr {
	background-color: #EFEFEF;
}
.returns_table.table tr {
	line-height: 2em;
	border-bottom: 1px solid #d7d7d7;
	min-height: 110px;
}
.returns_table.table th,
.returns_table.table td {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;	
}
.returns_table .price_cell,
.returns_table .count_cell {
	text-align: center;
}
.returns_table th.client {
	position: relative;
}
.returns_table th #client-filter {
	position: absolute;
	top: 8px;
	right: 8px;
}
/*.returns_table .image_cell a {
	vertical-align: middle;
}*/
.returns_table .image_cell img {
	/*max-height: 100px;
    max-width: 100%;*/
    height: 90px;
    width: 90px;
    vertical-align: middle;
    /*padding: 5px 0;*/

}
.returns_table .name_cell {
	text-align: left;
}
/*.returns_table tr.itogo {
	border-bottom: none;
}*/
.returns_table .itogo p {
	font-weight: bold;
}

.returns_table .itogo td {
	height: 40px;
}
.customerOrderFooter {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	flex-wrap: wrap;
}
.customerOrderFooter .customer {
	display: flex;
	flex-direction: column;
}
.customerOrderFooter .buttons_order button {
	/*float: right;*/
	margin-top: 20px;
}
.customerOrderFooter .buttons_order .cnslOrderBtn {
	margin-left: 5px;
}

.customerOrderFooter .customer,
.customerOrderFooter .price-order,
.customerOrderFooter .buttons_order {
	margin-bottom: 10px;
}


.customerOrderFooter .price-order {
	/*width: 300px;*/
    /*float: right;*/
    text-align: center;
    /*border: 1px solid #b4b4b4;*/    
   /* padding-top: 10px;
    padding-bottom: 10px;*/
   /* float: left;*/
}
.price-order form {
	display: flex;
}
.price-order button {
	margin: 5px;
}

.price-order input {
	display: block;   
    margin-right: 5px;
    margin-top: 10px;
    height: 30px;
    padding: 8px;
}
.remake_order {
	margin: 20px 0;
}
.cancel_order {
	margin: 20px 0 20px 20px;
}
.order_remake {
	width: 400px;
}
.order_remake p {
	margin: 20px 0;
}
.pretense {
	display: none;
}
.pretense #row_tpl  {
	display: none;
}
.code_cell select {
	width: 60px;
}