/*Центральный блок*/
.center_wrap .cloud_tag {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.lazyOwl {
	position: relative;
	float: left;
	height: auto;
	max-width: 1600px;
}
.item_svg {
	width: 100%;
	position: relative;
	-webkit-transition: all .5s cubic-bezier(.4,0,.2,1);
	-o-transition: all .5s cubic-bezier(.4,0,.2,1);
	transition: all .5s cubic-bezier(.4,0,.2,1);
}
.cont {
	display: flex;
	max-width: 1600px;
	margin: 0 auto;
	padding: 2%;
	flex-wrap: nowrap;
	justify-content: space-between;
	box-sizing: border-box;
}
.cont > a {
	border-radius: .4em;
	padding: 3%;
	flex-basis: 25%;
	flex-grow: 0;
	-webkit-transition: all .5s cubic-bezier(.4,0,.2,1);
	-o-transition: all .5s cubic-bezier(.4,0,.2,1);
	transition: all .5s cubic-bezier(.4,0,.2,1);
	box-sizing: border-box;
}
.cont > a:hover {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.cont_top {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 1% 0%;
}
.cont_top > div:last-of-type {
	position: relative;
	float: right;
	width: 70%;
}
.cont_top > div:first-of-type {
	position: relative;
	width: 30%;
	text-align: center;
	display: block;
	margin: auto;
}
.cont_top > div:first-of-type img {
	position: relative;
	width: 20%;
}
.cont_top span:first-of-type {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	color: #547DBC;
	display: block;
	width: 100%;
	font-size: 20px;
	text-align: right;
}
.cont_top span:last-of-type {
	font-family: 'PT Serif', serif;
	text-align: right;
	font-weight: bold;
	color: #547DBC;
	font-size: 13px;
	line-height: 1.2em;
	opacity: 0.5;
	width: 28%;
	float: right;
	display: block;


}
.text_block {
	display: block;
	text-align: -webkit-center;
}
.text_block h3 {
	display: block;
	margin: 0 auto;
	line-height: 1.3em;
	text-align: center;
}

@media (max-width: 1000px) {
	.text_block h3 {
		max-width: 65%;
		font-size: 130%;
		line-height: 1;
	}
	.text_block {
		padding: 5%;
	}
	.text_block p {
		display: none;
	}

	.cont_top img {
		width: 60%;
	}
}
@media (max-width: 1400px) {
	.text_block h3 {
		min-width: 90%;
		font-size: 1.6em;
		line-height: 1em;
	}
	.cont > a {
		flex-basis: calc(100%/3 - 2%);
	}



@media (max-width: 700px) {
	.text_block h3 {
		min-width: 80%;
		font-size: 120%;
	}
	.cont_top img {
		position: relative;
		max-width: 60%;
		width: 100%;
		text-align: center;
		display: inline;
	}
	.left_img {
		position: relative;
		width: 30%;
		text-align: center;
		display: block;
		margin: auto;
	}
	.cont_top span:last-of-type {
		font-family: 'PT Serif', serif;
		text-align: right;
		font-weight: bold;
		color: #547DBC;

		font-size: 13px;

		line-height: 1.2em;
		opacity: 0.5;
		width: 100%;
		float: right;
		display: block;


	}
}

@media (max-width: 360px) {
	.text_block h3 {
		margin-top: 1em;
		line-height: 1.5em;
		font-size: 70%;
	}
	.cont > a {
		padding: 1%;
	}
}

.center_wrap .cloud_tag,
.center_wrap .sales_block {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	overflow: hidden;
}
.sales_block {
	padding: 10px 10px 10px 20px;
	text-align: left;
}
.sales_block .left_part {
	width: 50%;
	text-align: left;
	float: left;
}
.sales_block .left_part p {
	margin: 10px 0;
}
.sales_block .sales_block_title {
	color: #ff0000;
}
.sales_block .original_price {
	margin-left: 10px;
	display: block;
	width: 100%;
	color: #818181;
	text-decoration: line-through;
}
.sales_block .sale_price {
	margin-bottom: 5px;
	display: block;
	width: 100%;
	color: #ff0000;
	font-size: 15px;
}
.sales_block a {
	text-align: center;
}
.sales_block .right_part {
	width: 50%;
	text-align: center;
	float: right;
}
.sales_block .right_part img {
	margin: 0 auto;
	display: block;
	max-height: 200px;
	max-width: 200px;
	box-sizing: border-box;
}
.sales_block .right_part .end_time {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
}
.sales_block .right_part .end_time span {
	color: #ff0000;
}

#content {
	overflow: hidden;
}
#content .content_page {
	color: #999;
	margin-top: 30px;
	max-height: 200px;
	overflow: hidden;
	position: relative;
	text-align: justify;
}
#content .content_page:before{
		content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(23%, rgba(255,255,255,0)), color-stop(72%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
}
#content label[for="read_more"] {
	float: right;
	cursor: pointer;
	color: #009e00;
	padding: 4px 10px;
}
#content input#read_more:checked + .content_page {
	max-height: 2000px;
}
#content input#read_more:checked + .content_page:before {
	content: '';
	position: absolute;
	bottom: 45px;
	left: 0;
	height: 20%;
	width: 100%;
	background: none;
}
#content label[for="read_more"] {
	float: right;
	cursor: pointer;
	color: #009e00;
	padding: 4px 10px;
}
#content label[for="read_more"]:hover {
	text-decoration: underline;
	color: #f36711;
}
.tooltip_description {
	display: block;
	width: 300px;
	background: #97E2FF;
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);
	border-radius: .5em;
	padding: 10px;
	top: 150%;
	right: -2px;
	margin-top: 1px;
	z-index: -10;
	color: #000;
	text-align: left;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.tooltip_description:before {
	content: '';
	position: absolute;
	display: block;
	top: -10px;
	left: 7px;
	border: 8px solid transparent;
	border-top: 0;
	border-bottom: 10px solid #97E2FF;
}
