#content {
	padding: 15px;
}
.newslist .mdl-grid {
	padding: 0;
}
.content_date {
	font-weight: 300;
	font-style: italic;
	margin: 15px 0 15px 0;
}
.content_news {
	text-align: right;
}
.content_page p,
.newslist .item .item_description p {
	font-size: 16px;
	line-height: 1.4em;
	text-align: justify;
}
.newslist .item {
	padding: 15px;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
.newslist .item .item_title,
#content .item_title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
.newslist .item .item_date {
	color: #888;
	font-style: italic;
	margin: 0 0 8px 0;
}
.newslist .item .item_description img {	
	width: 100%;
}
.newslist .item .read_more {
	text-align: right;
	padding-top: 5px;
}
.newslist .item .item_description {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-right: 15px;
}
.newslist .item .item_description .item_thumb {
	flex-basis: 20%;
	margin-bottom: 8px;
	margin-right: 20px;
}
.newslist .item .item_description .item_descr {
	flex-basis: 77%;
	flex-grow: 1;
}

@media (max-width: 1050px) {
	.content_page p,
	.newslist .item .item_description p {
		font-size: 14px;
		line-height: 1.3em;
	}
	.newslist .item .item_title,
	#content .item_title {	
		font-size: 26px;
	}	
}
@media (max-width: 479px) {	
	.newslist .item .item_description {
		flex-wrap: wrap;
	}
	.newslist .item .item_description .item_thumb {
		flex-basis: 100%;
		margin-right: 0;
	}
	.newslist .item .item_description .item_descr {
		flex-basis: 100%;
	}
}