#content {
	padding-bottom: 15px;
}
.newslist .mdl-grid {
	padding: 0;
}
.content_date {
	font-weight: 300;
	font-style: italic;
	margin: 15px 0 15px 0;
}
.content_news {
	text-align: right;
}
.content_page p,
.newslist .item .item_description p {
	font-size: 16px;
	line-height: 1.4em;
	text-align: justify;
}
.newslist .item {
	padding: 15px;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
.newslist .item .item_title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 8px;
}
.newslist .item .item_date {
	color: #888;
	font-style: italic;
}
.newslist .item .item_description {
	height: 125px;
	overflow: hidden;
	text-align: justify;
}
.newslist .item .item_description img {	
	max-width: 100%;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.newslist .item .read_more {
	text-align: right;
	padding-top: 5px;
}

@media (max-width: 1050px) {
	.content_page p,
	.newslist .item .item_description p {
		font-size: 14px;
		line-height: 1.3em;
	}
	.newslist .item .item_title {
		font-size: 26px;
	}	
}
@media (max-width: 839px) {
	.newslist .item .item_description {
		height: auto;
	}	
}
@media (max-width: 839px) and (min-width: 480px) {
	.mdl-cell--2-col, .mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
		width: 300px;
		margin: 0 auto;
	}
}
@media (max-width: 479px) {
	.mdl-cell--2-col, .mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
		width: auto;		
	}	
}
