.c_news strong {
	font-weight: blod;
}
.c_news em {
	font-style: italic;
}
#content {
	padding: 15px;
}
.newslist .mdl-grid {
	padding: 0;
}
.content_date {
	font-weight: 300;
	font-style: italic;
	margin: 15px 0 15px 0;
}
.content_news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.other_news {
   	border: 1px solid #d9d9d9;
    height: 35px;
    line-height: 32px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.random_news p {
	padding: 5px;
}

.random_news {
	width: 24%;
	border: 1px solid #d9d9d9;
	/* padding: 5px; */
}
.random_news:hover,
.other_news:hover {
	cursor: pointer;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.random_news img {
	width: 100%;
	/* max-height: 160px; */
	height: 160px;
}


.content_page p,
.newslist .item .item_description p {
	font-size: 16px;
	line-height: 1.4em;
	text-align: justify;
}
.content_page p > img {
	margin: 10px 0; 
}
.newslist .item {
	padding: 15px;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
.newslist .animate > a {
	max-width: 95%;
}
.newslist .item .item_title,
#content .item_title {
	width: 100%;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	margin: 0;
}
.newslist .item .item_date {
	color: #888;
	font-style: italic;
	margin: 0 0 8px 0;
}
.newslist .item .item_description img {	
	width: 100%;
}
.newslist .item .read_more {
	text-align: right;
	padding-top: 5px;
}
.newslist .item .item_description {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.newslist .item .item_description .item_thumb {
	flex-basis: 20%;
	max-width: 180px;
}
.newslist .item .item_description .item_descr {
	flex-basis: 77%;
	flex-grow: 1;
}
/* .newslist .item_descr p b {
	font-weight: normal;
} */
.newslist .news_title {
	display: block;    
}

@media (max-width: 1050px) {
	.content_page p,
	.newslist .item .item_description p {
		font-size: 14px;
		line-height: 1.3em;
	}
	.newslist .item .item_title,
	#content .item_title {	
		font-size: 26px;
	}	
}
@media (max-width: 801px) {
	.content_page p > img {
		width: 100% !important;
		height: auto !important;
		margin: 10px auto !important;
	}
	.newslist .item .item_title,
	#content .item_title {
		white-space: normal;
		width: 100%;
		margin: 0;
		font-size: 1.6em;
		line-height: 1.2em;
	}
}
@media (max-width: 801px) and (orientation: landscape) {
	.content_page p > img {
		height: calc(100vh - 60px) !important;
	}
}
@media (max-width: 479px) {	
	.newslist .item .item_description {
		flex-wrap: wrap;
	}
	.newslist .item .item_description .item_thumb {
		flex-basis: 100%;
		margin-right: 0;
	}
	.newslist .item .item_description .item_descr {
		flex-basis: 100%;
	}
	.newslist .item .item_description .item_thumb {
		max-width: 100%;
	}
}