 /*Общие стили */
	#content {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-size: 14px;
		font-weight: 100;
		font-style: normal;
		color: #47525d;
	}
	#content h1 {
		font-size: 2em;
		font-weight: 600;
		text-align: center;
	}
	#content h4 {
		font-size: 1.8em;
		font-weight: 100;
	}
	#content p {
		font-size: 1.3em;
		font-weight: 100;
		line-height: 1.2em;
		margin: 3% auto;
	}
	#content img,
	#content video,
	#content .blockOfText {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	#content .main_img {
		max-width: 100%;
	}
	#content .blockOfText {
		padding: 30px;
	}
	#content .blockline {
		position: relative;
		padding-top: 2%;
		padding-bottom: 4%;
		padding-left: 7%;
		padding-right: 7%;
		border-bottom: 1px solid #E6EAED;
	}
	#content .blockline:first-child {
		padding-top: 4%;
	}
	#content .flexwrapp {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#content .forflex {
		flex-basis: 35%;
		flex-grow: 1;
		flex-shrink: 1;
	}
	#content div.flexwrapp.three_inline,
	#content div.flexwrapp.two_inline {
		flex-wrap: nowrap;
		text-align: center;
	}
	#content .flexWrapReverse {
		flex-wrap: wrap-reverse;
	}
	#content .flexWrapReverse .blockOfText {
		margin-left: 7%;
		padding: 0;
		padding-bottom: 7%;
	}
	#content .page_payment,
	#content .page_information {
		border-bottom: 1px solid #E6EAED;
	}
	#content .page_about_us,
	#content .page_contacts {
		text-align: center;
	}
	#content .page_information .payment_information_img,
	#content .page_payment .payment_information_img {
		max-width: 60%;
	}
	/*Карточка для формы*/
		.modals .content_modal_win form {
			padding: .5em;
			margin: 0 auto;
			height: auto;
			text-align: center;
		}
		.modals .modal_container .mdl-card__supporting-text p {
			font-size: 1.4em;
			font-weight: 500;
			line-height: 1.3em;
			text-align: center;
			margin: 0 auto;
			color: #3F4A58;
		}
		.modals .content_modal_win form {
			padding: .5em;
		}
		.modals .modal_container button {
			min-width: 35%;
			display: block;
			margin: 0 auto;
		}
		.modals .content_modal_win form {
			padding: .5em;
		}
		.modals .modal_container button:hover {
			background-color: #018B06;
		}
		.modals div.modal_container.opened {
			max-width: 360px;
			min-width: 340px;
		}
	/*Стили для четырех страниц*/
		#content .four_pages .flexWrapReverse .blockOfText {
			margin-left: 0;
			padding-left: 5%;
		}
		#content .four_pages img {
			max-width: 100%;
		}
		#content .four_pages p {
			font-size: 1.3em;
			font-weight: 100;
			line-height: 1.2em;
			margin: 0;
		}
		#content .four_pages .blockline {
			border-top: 1px solid #E6EAED;
			border-bottom: none;
		}
		#content .four_pages .blockline:first-child {
			border-top: none;
		}
		#content .four_pages .blockline:last-child {
			border-bottom: 1px solid #E6EAED;
		}
		#content .four_pages .invisibleblock {
			border: none;
			padding: 0 7% 4%;
			display: none;
		}
		#content button {
			background-color: #69ab3f;
			min-width: 34%;
			width: 50%;
			display: block;
			margin: 0 auto;
			font-size: 1.3em;
			text-transform: inherit;
		}
		#content .four_pages .three_inline .forflex {
			flex-basis: 33%;
		}
		#content .three_inline .info_circle img {
			width: 61%;
		}
		/******.btn_plus******/
			#content .four_pages .btn_plus {
				display: block;
				position: absolute;
				margin-bottom: 0;
				bottom: 13%;
				cursor: pointer;
				text-align: center;
				line-height: 1em;
				font-size: 1.8em;
				font-weight: 100;
				color: #535E68;
				-webkit-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
			}
			#content .four_pages .btn_plus.pos-left {
				left: 10%;
			}
			#content .four_pages .btn_plus.pos-right {
				right: 35%;
			}
			#content .four_pages .btn_plus span {
				float: left;
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 1px solid #535E68;
				-webkit-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
			}
			#content .btn_plus.active {
				bottom: 4%;
			}
			#content .btn_plus.active span {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			#content .four_pages .btn_plus p {
				font-size: 0.5em;
				font-weight: 400;
				width: 150px;
				white-space: nowrap;
				line-height: 2em;
				-webkit-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
			}
			#content .four_pages .btn_plus.active p {
				overflow: hidden;
				width: 0;
				padding: 0;
			}
			#content .four_pages .blockline a.btn_plus:hover, a.btn_plus:hover * {
				color: #69ab3f !important;
				border-color: #69ab3f !important;
			}
		/****.info_circle********/
			#content .four_pages .info_circle_img {
				width: 200px;
				height: 200px;
				margin: 0 auto;
				border: 1px solid #47525d;
				border-radius: 50%;
			}
			#content .four_pages .info_circle h5 {
				font-size: 1.6em;
				font-weight: 500;
				text-align: center;
			}
			#content .four_pages .info_circle p {
				width: 200px;
				margin: 2% auto;
				text-align: center;
			}

/* Страница "Доставка" / class="page_delivery" */
	#content .page_delivery .forflex {
		flex-basis: 44%;
	}
	#content .page_delivery p {
		margin: 0;
	}
	#content .page_delivery .delivery2 {
		max-width: 82%;
	}
	#content .page_delivery .delivery4 {
		max-width: 82%;
	}
	#content .page_delivery .delivery5 {
		width: 60%;
	}

	#content #page_delivery #delivery2 img {
		width: auto;

	}


	/*Media*/
		@media (min-width: 964px) and (max-width: 1535px) {
			#content .page_delivery .blockOfText{
				flex-basis: 65%;
			}
		}
		@media (max-width: 964px) {
			#content .page_delivery .forflex {
				flex-basis: 46%;
			}
			#content .page_delivery .blockOfText p {
				max-width: 100%;
			}
		}
		@media (max-width: 550px) {
			#content .page_delivery .blockline video {
				width: 380px !important;
				height: 220px !important;
			}
		}
/* Страница "О нас" / class="page_about_us" */
	#content .page_about_us p {
		width: 76%;
	}
	/*Следующие селекторы нужен пока не будет раскоментирован блок кода с классом members  */
	#content .page_about_us .blockline:nth-child(4){
		border: none;
	}
	#content .page_about_us .blockline:last-child {
		padding-top: 0;
	}
	/*------------------------------------*/
	#content .page_about_us img.about2 {
		width: 86%;
		z-index: 1;
	}
	#content .page_about_us img.about3 {
		width: 52%;
	}
	#content .page_about_us img.about4 {
		width: 78%;
	}
	#content .page_about_us .second_line_img {
		position: relative;
	}
	#content .page_about_us .second_line_img p.text1,
	#content .page_about_us .second_line_img p.text2 {
		position: absolute;
		width: 190px;
		font-size: 1em;
		z-index: 2;
		margin: 0;
	}
	#content .page_about_us .second_line_img p.text1{
		top: 5%;
		left: 9%;
	}
	#content .page_about_us .second_line_img p.text2{
		bottom: 0;
		right: 10%;
	}
	#content .page_about_us .second_line_img p.text1 > span,
	#content .page_about_us .second_line_img p.text2 > span {
		font-size: 3em;
		display: block;
		z-index: 2;
	}
	/*Media*/
		@media (min-width: 1300px) and (max-width: 1420px) {
			#content .page_about_us .second_line_img p.text2 {
				right: 9%;
			}
		}
		@media (min-width: 1100px) and (max-width: 1300px) {
			#content .page_about_us .second_line_img p.text2 {
				right: 5%;
			}
			#content .page_about_us .second_line_img p.text1 > span,
			#content .page_about_us .second_line_img p.text2 > span {
				font-size: 2.6em;
			}
		}
		@media (min-width: 900px) and (max-width: 1100px) {
			#content .page_about_us .second_line_img p.text2 {
				right: 0%;
			}
			#content .page_about_us .second_line_img p.text1 {
				left: 4%;
			}
			#content .page_about_us .second_line_img p.text1 > span,
			#content .page_about_us .second_line_img p.text2 > span {
				font-size: 2em;
			}
		}
		@media (max-width: 900px) {
			#content .page_about_us .second_line_img p.text1 > span,
			#content .page_about_us .second_line_img p.text2 > span {
				font-size: 1.6em;
			}
			#content .page_about_us .second_line_img p.text2 {
				right: -5%;
				font-size: 0.8em;
			}
			#content .page_about_us .second_line_img p.text1 {
				left: 1%;
				font-size: 0.8em;
				width: 100px;
				width: 117px;
			}
		}
		@media (min-width: 580px) and (max-width: 700px) {
			#content .page_about_us .second_line_img p.text1 {
				width: 190px;
				top: 0%;
			}
			#content .page_about_us .second_line_img p.text2 {
				right: 0%;
			}
			#content .page_about_us .second_line_img p.text1 > span,
			#content .page_about_us .second_line_img p.text2 > span {
				font-size: 1.6em ;
			}
		}
		@media (min-width: 360px) and (max-width: 580px) {
			#content .page_about_us .second_line_img p.text1 {
				width: 117px;
				top: 0%;
			}
			#content .page_about_us .second_line_img p.text2 {
				width: 117px;
				right: 3%;
			}
			#content .page_about_us .second_line_img p.text1,
			#content .page_about_us .second_line_img p.text2 {
				font-size: 0.8em !important;
			}
		}
		@media (max-width: 500px) {
			#content .page_about_us .second_line_img p.text1,
			#content .page_about_us .second_line_img p.text2 {
				display: none;
			}
		}
		/*НЕ УДАЛЯТЬ - временно скрыто*/
			/*.page_about_us .members {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin-top: 60px;
			}
			.page_about_us .members .member {
				flex-basis: 40%;
				flex-grow: 0;
				flex-shrink: 0;
				width: 200px;
				height: 300px;
				margin-bottom: 38px;
				text-align: center;
			}
			.page_about_us .members .member .divForPhoto {
				width: 200px;
				height: 200px;
				margin: 0 auto;
				border: 1px solid #000;
				border-radius: 50%;
			}
			.page_about_us .page_about_us_fourth_line .members .member p.person {
				width: 230px;
				height: 25px;
				font-weight: 500;
				font-size: 22px;
				color: #47525D;
				text-align: center;
				line-height: 28px;
				margin-top: 17px;
			}
			.page_about_us .page_about_us_fourth_line .members .member p.person_post {
				width: 205px;
				height: 55px;
				font-size: 16px;
				color: #47525D;
				text-align: center;
				line-height: 21px;
				margin-top: 0;
			}*/

/* Страница "Справка" / class="page_information" */
	#content .page_information img {
		max-width: 76%;
	}
	#content a.a_question {
		color: #454F5D;
		text-transform: uppercase;
	}
	/*Аккордеон*/
		.ac-container {
			width: 100%;
			color: #454F5D;
		}
		.ac-container label {
			display: block;
			cursor: pointer;
			padding: 5px;
			font-size: 1.3em;
		}
		.ac-container label:hover {
			background: #fff;
			text-decoration: underline;
		}
		.ac-container input {
			display: none;
		}
		.ac-container article {
			overflow: hidden;
			height: 0px;
			position: relative;
			z-index: 10;
			text-align: justify;
			width: 90%;
			padding: 0 0 0 3%;
		}
		.ac-container input:checked ~ article {
			height: auto;
		}
/* Страница "Оплата" / class="page_payment" */
	#content .page_payment .invisibleblock img {
		margin: 0;
		margin-right: 2%;
		float: left;
	}
	#content .page_payment .invisibleblock div {
		height: 80px;
	}
	#content .page_payment ul {
		font-size: 1.3em;
		font-weight: 400;
		list-style: disc;
		color: #47525d;
	}
	#content .page_payment li {
		font-weight: 100;
		margin-left: 16%;
	}
/* Страница "Поставки магазинам"/ class="page_supply" */
/* Страница "Скидки" / class="page_discounts" */
	#content .page_discounts {
		border-bottom: 1px solid #E6EAED;
	}
/* Страница "Обеспечение быта"/ class="page_provision" */
/* Страница "Снабжение предприятий" / class="page_provision_companies" */
	#content .page_provision_companies img,
	#content .page_provision_companies button {
		max-width: 38% !important;
	}
	@media (max-width: 1535px) {
		#content .page_provision_companies img {
			max-width: 38% !important;
		}
	}
	@media (max-width: 600px) {
		#content .page_provision_companies img {
			max-width: 25% !important;
		}
	}

/* Страница "Контакты" / class="page_contacts" */
	#content .page_contacts video {
		width: 40%;
	}
	#content .page_contacts h1 {
		margin-bottom: 54px;
	}
	#content .page_contacts .blockOfText {
		padding: 0;
	}
	#content .page_contacts .blockOfText p {
		margin-top: 0;
		margin-bottom: 0;
		width: 50%;
	}
	#content .page_contacts .blockOfText p.main_text {
		margin-top: 35px;
	}
	#content .page_contacts .blockOfText .mini_text {
		font-size: 1.1em;
		width: 40%;
	}
	#content .page_contacts .pEmail {
		font-weight: 500;
	}
	#content .page_contacts .flexColumn {
		margin-top: 54px;
		justify-content: space-between;
	}
	#content .page_contacts .flexColumn button {
		text-transform: uppercase;
		max-width: 38%;
	}
	#content .page_contacts button.greenBtn {
		background-color: #69ab3f;
	}
	#content .page_contacts button.orangeBtn {
		background-color: #ff5722;
	}
	#content .page_contacts .info_circle p {
		width: 220px;
		min-height: 100px;
	}
		@media (min-width: 600px) and (max-width: 1300px) {
			#content .page_contacts .blockOfText p {
				width: 60%;
			}
		}
		@media (max-width: 1100px) {
			#content .page_contacts .flexColumn {
				margin-top: 54px;
				flex-direction: column;
			}
			#content .page_contacts .flexColumn button {
				margin: 0 auto;
				margin-bottom: 20px;
				min-width: 70%;
			}
			#content .page_contacts .three_inline .info_circle p {
				font-size: 1em;
				width: 140px;
			}
			#content .page_contacts h1 {
				margin-bottom: 0;
			}
		}
		@media (max-width: 600px) {
			#content .page_contacts .blockOfText p {
				font-size: 1em;
			}
			#content .page_contacts .flexColumn button {
				min-width: 90%;
				font-size: 1em;
			}
			#content .page_contacts .blockOfText p.forflex {
				width: 100%;
			}
			#content .page_contacts .three_inline .info_circle h4 {
				font-size: 1.1em;
			}
			#content .page_contacts .three_inline .info_circle p {
				width: 100px;
				min-height: 115px;
				margin: 2% auto;
				font-size: 1em;
			}
		}
/* Страница "Стать дилером" / class="page_dealer" */
	#content .page_dealer h4 {
		text-align: center;
		margin-top: 0;
	}
	#content .page_dealer .three_inline {
		margin-top: 54px;
	}
	#content .page_dealer .container .blockOfText h4 {
		text-align: left;
	}
	#content .page_dealer ul {
		margin-left: 5%;
	}
	#content .page_dealer li {
		text-align: left;
		font-weight: 100;
		font-size: 1.3em;
		line-height: 1.4em;
		list-style-type: disc;
	}
	#content .page_dealer .dealer1{
		margin: 0 0 0 auto;
		min-width: 55%;
	}
	#content .page_dealer .info_circle p {
		font-weight: 500;
	}
	@media (max-width: 1535px) {
		#content .page_dealer .container .blockOfText h4 {
			text-align: center;
		}
		#content .page_dealer ul {
			margin-left: 30%;
		}
		#content .page_dealer .container .dealer1 {
			min-width: 40%;
			margin: 3% auto 0;
		}
		#content .page_dealer .info_circle img {
			min-width: 55%;
		}
	}
	@media (max-width: 1420px) {
		#content .page_dealer li {
			font-size: 1.6em;
		}
	}
	@media (max-width: 1100px) {
		#content .page_dealer .container .dealer1 {
			max-width: 40%;
		}
		#content .page_dealer li {
			font-size: 1.2em;
		}
		#content .forflex {
			flex-basis: 55%;
		}
		#content .page_payment img,
		#content .page_information img {
			max-width: 50%;
		}
	}
	@media (max-width: 964px) {
		#content .page_dealer ul {
			margin-left: 22%;
		}
		#content .page_dealer li {
			font-size: 1.2em;
		}
		#content .page_dealer .info_circle p {
			font-size: 1.2em;
			width: 100px;
		}
	}

/* Общие медиа запросы */
	@media (max-width: 1535px) {
		#content img.main_img {
			max-width: 70% !important;
		}
		#content .blockOfText p {
			margin: 0 auto;
		}
		#content video {
			max-width: 55%;
			min-width: 55%;
		}
		#content .flexColumn button {
			min-width: 40%;
		}
		#content .flexColumn button {
			margin-bottom: 20px;
			min-width: 60%;
		}
		/*Стили для четырех страниц .four_pages*/
			#content .four_pages .blockline:first-child,
			#content .four_pages .blockline:last-child {
				padding-bottom: 4%;
			}
			#content .four_pages .blockline {
				padding-bottom: 10%;
			}
			#content button {
				min-width: 60%;
			}
			#content button .forflex {
				flex-basis: 90%;
			}
			#content .four_pages img {
				max-width: 72%;
			}
			#content .page_provision button {
				min-width: 60%;
			}
			#content .four_pages .btn_plus.pos-right {
				right: 32%;
			}
	}
	@media (max-width: 1350px) {
		#content .block_circles .forflex {
			flex-basis: 46%;
		}
	}
	@media (max-width: 1300px) {
		#content .ac-container div {
			margin-bottom: 10px;
		}
		#content .four_pages .btn_plus.pos-right {
			right: 30%;
		}
	}
	@media (max-width: 1100px) {
		#content .blockOfText p {
			max-width: 70%;
		}
		#content .four_pages .blockline {
			padding-bottom: 12%;
		}
		#content .four_pages .btn_plus.pos-left {
			left: calc(50% - 70px);
		}
		#content .four_pages .btn_plus.pos-right {
			right: calc(50% - 80px);
		}
		#content .page_payment .payment_information_img {
			max-width: 35%;
		}
		#content .page_payment .four_pages .btn_plus {
			bottom: 10%
		}
	}
	@media (max-width: 964px) {
		#content .four_pages .blockline .container {
			margin-bottom: 30px;
		}
		#content button,
		#content .four_pages .flexColumn button {
			min-width: 80%;
		}
		#content h1 {
			font-size: 1.7em;
		}
		#content .page_information article p {
			font-size: 1.1em;
		}
	}
	@media (max-width: 600px) {
		#content .blockOfText p,
		#content .page_about_us p {
			max-width: 100%;
		}
		#content .page_payment ul {
			font-size: 1.1em;
			line-height: 1.1em;
		}
		#content .page_payment li {
			margin-left: 28%;
		}
		/*Стили для четырех страниц .four_pages*/
			#content .four_pages img {
				max-width: 40%;
			}
			#content .four_pages .blockOfText h4{
				font-size: 1.4em;
			}
			#content .four_pages .info_circle h5 {
				font-size: 1.2em;
			}
			#content .four_pages .blockOfText p {
				font-size: 1em;
				min-width: 100%;
			}
			#content .four_pages .info_circle p {
				width: 100px;
				margin: 2% auto;
				font-size: 1em;
			}
			#content .four_pages .info_circle img {
				min-width: 55%;
			}
			#content .four_pages button,
			#content .four_pages .flexColumn button {
				min-width: 90%;
				font-size: 1.1em;
			}
			#content .four_pages .info_circle_img {
				width: 100px;
				height: 100px;
			}
	}
	@media (max-width: 500px) {
		#content .page_payment ul {
			font-size: .9em;
			line-height: 1.3em;
		}
		#content .page_payment li {
			margin-left: 35%;
		}
		#content .page_payment .btn_plus,
		#content .page_information .btn_plus {
			bottom: 9%;
		}
	}
	@media (max-width: 450px) {
		#content p {
			font-size: 1em;
		}
		#content .ac-container label {
			font-size: 1em;
		}
		#content .ac-container article p {
			font-size: .8em;
		}
		#content .page_payment li {
			 margin-left: 35%;
		}
		#content .page_dealer ul {
			margin-left: 11%;
		}
		#content .page_dealer .info_circle p {
			font-size: 1.1em;
		}
		#content .four_pages button,
		#content .four_pages .flexColumn button {
			font-size: 1em;
		}
		#content .page_payment .btn_plus,
		#content .page_information .btn_plus {
			bottom: 5%;
		}
	}
	@media (max-width: 400px) {
		.modals div.content_modal_win.opened {
			top: 0 !important;
			left: 0 !important;
			min-width: 100%;
		}
	}
/*
