#content .section_title {
	font-size: 15px;
	padding: .5em;
	background: #fafafa;
	border-bottom: 1px solid #d7d7d7;
	font-weight: bold;
}
#content .section {
	padding: 0 .5em;
	margin: .5em 0 1em;
}

/* Страница "Контакты" ===================================================== */

#content .contacts .table {
	width: 100%;
}
#content .contacts .section_title .secondary_table {
	text-align: left;
	padding-left: .5em;
}
#content .contacts .section_title .secondary_table {
	width: 30%;
}
#content .contacts .subsection_title {
	padding: .5em 0;
	font-weight: bold;
}
#content .contacts table.secondary_table tr th {
	text-align: left;
}
#content .contacts table.secondary_table tr td {
	padding: 1em 15px;
	text-align: left;
}
#content .contacts ul {
	margin-left: 30px;
}

/* Страница "Скидки" ======================================================= */

#content .price_rules section {
	margin-bottom: 30px;	
}
#content .price_rules p {
	padding: .5em;
}
#content .price_rules ul {
	margin-left: 30px;
}

/* Страница "Стать дилером" ================================================ */


/* Страница "Вопросы" ====================================================== */

#content .faq img {
	width: 100%;
}

/* Страница "Оплата" ======================================================= */

#content .payments .modal_opened {
	width: 54em;
}
#content .payments .payment_item .payment_ol {
	text-align: left;
	padding-left: 15px; 
	list-style: decimal;
}
#content .payments .payment_item .payment_ul {
	text-align: left;
	padding-left: 5px; 
	list-style: none;
}
#content .payments .payment_item .payment_ul>li:before {
	content: "-";
	margin-right: 5px;
}
#content .payments .payment_item .requisites {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}
#content .payments .payment_border {
	border-right: 2px solid #d9d9d9;
}
@media (max-width: 992px) {
	#content .payments .payment_border {
		border-right: none;
	}
	#content .payments .product_description {
		margin-top: 20px;
	}
}
#content .payments .tab_item_header {
	display: block;
	font-size: 17px;
}
#content .payments .tab_item_label {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
#content .payments .payment_item {
	padding: 10px 0;
	border-bottom: 1px solid #d9d9d9;
}
#content .payments .payment_item img {
	float: left;
	width: 17%;
	max-width: 100px;
}
#content .payments .payment_item .payment_item_descr {
	padding-left: 10px;
	width: 83%;
	float: left;
}
#content .payments .color-red {
	color: #ff2626 !important;
}
#content .payments .payment_item .payment_item_descr table tr td  {
	padding-top: 5px;
}

/* Страница "Доставка" ===================================================== */

#content .delivery .modal_opened {
	width: 54em;
}
@media (max-width: 992px) {
	#content .delivery .product_description {
		margin-top: 20px;
	}
}
#content .delivery .tab_item_header {
	display: block;
	font-size: 17px;
}
#content .delivery .tab_item_label {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
#content .delivery .delivery_wrapper {
	margin-top: 10px;
	text-align: justify;
}
#content .delivery .delivery_wrapper .tab_item_label {
	margin: 20px 0 10px 0;
}
#content .delivery .delivery_wrapper .color-red {
	margin: 10px 0 20px 0;
	display: block;
}
#content .delivery .delivery_items_wrapper {
	margin: 30px 0;
}
#content .delivery .delivery_item {
	padding: 5px 30px;
	text-align: center;
	width: 20%;
	min-height: 110px;
	border-right: 1px solid #d9d9d9;
	float: left;
}
@media (max-width: 870px) {
	#content .delivery .delivery_item {
		font-size: 1.3em;
		border-right: none;
		padding: 20px 30px;
		border-bottom: 1px solid #d9d9d9;
		width: 100%;
	}
}
#content .delivery .delivery_item:last-child {
	border: none;
}
#content .delivery .delivery_item .img_block {
	height: 70px;
}
#content .delivery .delivery_item:nth-child(2) .img_block {
	height: 52px;
}
@media (min-width: 1605px) {
	#content .delivery .delivery_item:nth-child(2) .img_block {
		height: 70px;
	}
}
#content .delivery .delivery_item img {
	display: block;
	margin: 0 auto;
}
#content .delivery .delivery_item span {
	display: block;	
}
#content .delivery .section img {
	width: 100%;
}

/* Страница "Стать дилером" / become_a_dealer ================================================ */
.become_a_dealer {
	min-height: 1300px;
	padding: 20px;
	/*border: 1px solid #000;*/
	font-family: 'Helvetica Neue Thin', 'Helvetica Neue';
}
.become_a_dealer h4 {
	font-family: 'Helvetica Neue Thin', 'Helvetica Neue';
	font-size: 2.2em;
	font-weight: 400;
}
.become_a_dealer .dealer_line_first {
	margin: 0 auto;
}
.become_a_dealer .abilities_list {
	display: block;
	margin: 50px 100px 250px 20px;	
	width: 400px;
	float: left;
}
.become_a_dealer .abilities_list li {
    list-style-type: disc;    
    font-size: 1.5em;
    line-height: 28px;
}
.become_a_dealer .car_pic {
	display: block;
	float: none;
	width: 454px;
	height: 252px;
}
.become_a_dealer .services {
	clear: both;
	margin-top: 50px;
	width: 100%;
  	margin: 0 auto;
	max-width: 1270px;	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.become_a_dealer .services .services_item {
	flex-basis: 25%;
	float: left;
	text-align: center;			
	margin-bottom: 20px;
}
.become_a_dealer .services .services_item p {		
	height: 53px;
	margin-bottom: 20px; 
	text-align: center;
	font-size: 1.5em;
    line-height: 28px;
}
.become_a_dealer .services .circleForImg {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #000;
}
.become_a_dealer button {
	display: block;
	width: 240px;
	margin: 0 auto;
	margin-top: 150px;
	font-family: 'Helvetica Neue Thin', 'Helvetica Neue';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #2895F1;
    border-radius: 5px;
    color: #2895F1;
}
.become_a_dealer > h4 {
	text-align: center;
	margin-bottom: 100px;
}


/* Страница "Доставка" / class="page_delivery" ================================================ */

.page_delivery {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  	font-size: 14px;
	font-weight: 100;
    font-style: normal;
    color: #47525d;
}
.page_delivery h1 {
	font-weight: 600;
	font-size: 2em;	
	margin: 0 auto;
	text-align: center;
}
.page_delivery h4 {	
    font-size: 2.8em;
    font-weight: 100;
    line-height: 1em;
}
.page_delivery p {
	font-size: 1.8em;
	font-weight: 100;
    line-height: 1.2em;
}
.page_delivery .flexwrapp {	
    display: flex;
    justify-content: center;
    flex-wrap: wrap;	
}
.page_delivery .blockline{	
    padding: 7%;
    border-bottom: 1px solid #E6EAED;   
}
.page_delivery .blockline:first-child {
	padding-top: 3%;
}
.page_delivery .forflex {
	flex-basis: 46%;
	flex-grow: 1;
  	flex-shrink: 1;
}
.page_delivery img,
.page_delivery .blockline iframe,
.page_delivery .blockOfText {
	display: block;
	margin: 0 auto;
}
.page_delivery .blockOfText {	
	padding: 30px;
}
.page_delivery .delivery1 {
	max-width: 19.5%;
	min-width: 15%;	
	margin-bottom: 3%;
}
.page_delivery .blockline video {	   
    display: block;
    order: 1;
}
.page_delivery .blockline .blockForOrder {
	order: 2;
}
@media (max-width: 1535px) {
	.page_delivery .blockline .blockForOrder {
		order: 1;
	}
	.page_delivery .blockline video {
		order: 2;
	}
	.page_delivery .blockOfText {
		text-align: center;
	}
}
@media (min-width: 964px) and (max-width: 1535px) {		
	.page_delivery .blockOfText{
		flex-basis: 65%;
	}
}
.page_delivery .delivery5,
.page_delivery .delivery4 {
	width: 100%;
}
.page_delivery .delivery4 {
	max-width: 495px;
}
@media (min-width: 500px) and (max-width: 1420px) {
	.page_delivery p {
		font-size: 1.4em;
	}
	.page_delivery h4 {
		font-size: 2.4em;	
	}
}
@media (min-width: 900px) and (max-width: 1420px) {
	.page_delivery .delivery1 {
		min-width: 25%;
	}
}
@media (min-width: 500px) and (max-width: 900px) {
	.page_delivery .delivery1 {
		min-width: 28%;
	}
}
@media (max-width: 500px) {
	.page_delivery p {
		font-size: 1.2em;
	}
	.page_delivery h4 {
		font-size: 2.2em;	
	}
	.page_delivery .delivery1 {
		min-width: 31%;
	}
	.page_delivery .blockline video {
	    width: 380px !important;
	    height: 220px !important;
	}
	.page_delivery .blockline iframe {
		width: 350px !important;
    	height: 250px !important;
	}
}

/* Страница "Справка" / class="page_information" ================================================ */
.page_information {
	margin: 30px;
	padding: 30px;

	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}
.page_information div {
	border: 1px solid #000;
	width: 232px;
	height: 150px;

	flex-basis: 23%;
	flex-grow: 0;
  	flex-shrink: 0;
}
.page_information p {
	font-family: 'Helvetica Neue Thin', 'Helvetica Neue';
    font-weight: 200;
    font-style: normal;
    font-size: 21px;
    color: #47525D;
    text-align: center;
    line-height: 28px;
}
.page_information img {
	border: 1px solid #000;
	display: block;
	margin: 10px auto 0;
	width: 74px;
	height: 74px;
}

/* Страница "О нас" / class="page_about_us" ================================================ */
.page_about_us {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  	font-size: 14px;
	font-weight: 100;
    font-style: normal;
    color: #47525d;
    text-align: center;
    line-height: 28px;
}
.page_about_us h1 {
	font-weight: 600;
	font-size: 2em;	
	margin: 3% auto;
	text-align: center;
}
.page_about_us h4 {	
    font-size: 2.8em;
    font-weight: 100;
    line-height: 1.4em;
}
.page_about_us p {
	width: 76%;
	font-size: 1.8em;
	font-weight: 100;
    line-height: 1.2em;
    margin: 5% auto;
}
.page_about_us .flexwrapp {	
    display: flex;
    justify-content: center;
    flex-wrap: wrap;	
}
.page_about_us .blockline{	
    padding: 7%;
    border-bottom: 1px solid #E6EAED;   
}
/*Следующие селекторы нужен пока не будет раскоментирован блок кода с классом members  */
.page_about_us .blockline:nth-child(4){
	border: none;
}
.page_about_us .blockline:last-child {
	padding-top: 0;
}
/*------------------------------------*/
.page_about_us .blockline:first-child {
	padding-top: 3%;
}
.page_about_us .forflex {
	flex-basis: 46%;
	flex-grow: 1;
  	flex-shrink: 1;
}
.page_about_us img{
	display: block;
	margin: 0 auto;
}
.page_about_us img.about1 {
	width: 18%;
	margin-bottom: 3%;
}
.page_about_us img.about2 {
	width: 86%;
	z-index: 1;	
}
.page_about_us img.about3 {
	width: 52%;	
}
.page_about_us img.about4 {	
	width: 78%;
}
.page_about_us .second_line_img {
	position: relative;
}
.page_about_us .second_line_img p.text1,
.page_about_us .second_line_img p.text2 {
	position: absolute;
    width: 190px;    
    font-size: 1.2em;    
    z-index: 2;
    margin: 0;
}
.page_about_us .second_line_img p.text1{	
	top: 0;
    left: 9%;	
}
.page_about_us .second_line_img p.text2{	
	bottom: 0;
	right: 10%;
}
.page_about_us .second_line_img p.text1 > span,
.page_about_us .second_line_img p.text2 > span {
	font-size: 3.6em;
    display: block;
    z-index: 2;
}
@media (max-width: 1420px) {
	.page_about_us p {	
		font-size: 1.4em;		
	    margin: 4% auto;
	}
	.page_about_us h4 {
		font-size: 2.4em;	
	}
@media (min-width: 900px) and (max-width: 1420px) {
	.page_about_us .about1 {
		min-width: 23%;
	}
	.page_about_us .second_line_img p.text1 > span,
	.page_about_us .second_line_img p.text2 > span {
		font-size: 3em;
	}	
}
@media (min-width: 1300px) and (max-width: 1420px) {
	.page_about_us .second_line_img p.text2 {
		bottom: -8%;
		right: 9%;
	}	
}
@media (min-width: 1100px) and (max-width: 1300px) {
	.page_about_us .second_line_img p.text2 {
		bottom: -9%;
		right: 5%;
	}
	.page_about_us .second_line_img p.text1 > span,
	.page_about_us .second_line_img p.text2 > span {
		font-size: 2.6em;
	}	
}
@media (min-width: 900px) and (max-width: 1100px) {
	.page_about_us .second_line_img p.text2 {
		bottom: -10%;
		right: 0%;
	}
	.page_about_us .second_line_img p.text1 {		
		left: 4%;
	}
	.page_about_us .second_line_img p.text1 > span,
	.page_about_us .second_line_img p.text2 > span {
		font-size: 2em;
	}	
}
@media (max-width: 900px) {
	.page_about_us .second_line_img p.text1 > span,
	.page_about_us .second_line_img p.text2 > span {
		font-size: 1.6em;
	}
	.page_about_us .second_line_img p.text2 {
		bottom: -10%;
		right: -5%;
		font-size: 0.8em;
	}
	.page_about_us .second_line_img p.text1 {		
		left: 1%;
		font-size: 0.8em;
		width: 100px; 
		width: 117px;
		top: -8%; 
	}
}
@media (min-width: 580px) and (max-width: 700px) {
	.page_about_us .second_line_img p.text1 {			
		width: 190px;
		top: 0%; 
	}	
	.page_about_us .second_line_img p.text2 {
		bottom: -3%;
		right: -1%;		
	}
	.page_about_us .second_line_img p.text1 > span,
	.page_about_us .second_line_img p.text2 > span {
		font-size: 1.6em;
	}
}
@media (min-width: 360px) and (max-width: 580px) {
	.page_about_us .second_line_img p.text1 {			
		width: 117px;
		top: -8%; 
	}
	.page_about_us .second_line_img p.text2 {			
		width: 117px;		
	}		
}
@media (max-width: 500px) {
	.page_about_us #blockOfText {	
		font-size: 1.2em;		
	    margin: 3% auto;
	}
	.page_about_us h4 {
		font-size: 1.8em;	
	}
	.page_about_us .about1 {
		min-width: 23%;
	}
}
/*НЕ УДАЛЯТЬ - временно скрыто*/
/*.page_about_us .members {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px; 
}
.page_about_us .members .member {
	flex-basis: 40%;
	flex-grow: 0;
  	flex-shrink: 0;
	width: 200px;
    height: 300px;
    margin-bottom: 38px;    
    text-align: center;
}
.page_about_us .members .member .divForPhoto {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 50%;
}
.page_about_us .page_about_us_fourth_line .members .member p.person {
	width: 230px;
    height: 25px;
    font-weight: 500;
    font-size: 22px;
    color: #47525D;
    text-align: center;
    line-height: 28px;
	margin-top: 17px; 
}
.page_about_us .page_about_us_fourth_line .members .member p.person_post {
	width: 205px;
	height: 55px;
	font-size: 16px;
    color: #47525D;
    text-align: center;
    line-height: 21px;	
    margin-top: 0; 
}*/


/* Страница "Оплата" / class="page_payment" ================================================ */
.page_payment,
.page_payment h4 {
	font-family: 'Helvetica Neue Thin', 'Helvetica Neue';
    font-weight: 200;
    font-style: normal;    
    color: #47525D;
    text-align: center;
    line-height: 28px;
}	
.page_payment h4 {	
    font-size: 31px;    
}


.page_payment .payment_methods img:first-child {
	width: 200px;
	height: 110px;
}

.page_payment .payment_methods img:nth-child(2) {
	width: 366px;
	height: 111px;
}

.page_payment .payment_methods img:last-child {
	width: 300px;
	height: 76px;
}