
#bill_form form {
	width: 300px;
	padding: 60px;
}
#bill_form form label {
	font-size: 16px;
}
#bill_form form textarea {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#bill_form form .my_btn {
	display: block;
	margin: 20px auto 0;
}