.price_list_page {
	clear: both;
}
h1 {
	float: left;
}
.subheader {
	line-height: 50px;
	float: right;
}
.price_form {
	background: #fff;
	border: 1px solid #ccc;
	position: relative;
}
.price_form .info_key + .info_description {
	top: 25px;
}
.price_form .info_description {
	min-width: 300px;
}
.price_form fieldset {
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 7px 0;
	padding: .5em;
}
.price_form legend {
	position: relative;
	padding-right: 25px;
}
.price_form textarea {
	width: 100%;
}
.price_form label {
	float: left;
	clear: both;
}
.price_form #margin {
	float: left;
	width: 50px;
	border: 1px solid #ccc;
}
.price_form .uncheck_all,
.price_form .uncheck_all:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}
.price_form input,
.categories_js input {
	margin: 5px;
	margin-left: 0;
	border: 0;
}
.price_form .ps,
.price_form .price-counter {
	padding: .5em;
}
.price_form .variables {
	font-weight: bold;
}
.price_form .variables .value {
	float: right;
}
label.expand {
	color: #009e00;
	cursor: pointer;
}
label.expand:hover {
	border-bottom: 1px dashed #009e00;
}
.list_level1 {
	margin-bottom: 1em;
	margin-left: 15px;
}
.list_level2 {
	margin-left: 15px;
	height: 0;
	overflow: hidden;
}
.expand_input:checked + .list_level2 {
	height: auto;
}
.categories_js.ajax_loading:before {
	background-position: 50% 50px;
}
.categories_js .header2 {
	font-size: 15px;
	font-weight: bold;
}