h1 {
	float: left;
}
h5 {
	margin: 15px 0;
}

#view_block_js.ajax_loading:before {
	background-position: 50% 50px;
}
.sb_block .main_menu {
	display: none;
}
.left_menu:hover .main_menu {
	display: block;
}
.sb_block .nav_btn > span {
	transform: rotate(0deg);
    transition: all 0.3s;
}
.left_menu:hover .nav_btn > span {
	transform: rotate(-180deg);
    transition: all 0.3s;
}

/*Subcats=====================================================================*/
.products {
	clear: both;
	position: relative;
}
.products ul.subcats li {
	margin: 15px 0;
}
.products ul.subcats a {
	display: block;
	max-height: 250px;
	border: 1px solid #dddddd;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.products ul.subcats a:hover {
	webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.products ul.subcats .subcats_block {
	display: table;
	width: 100%;
	text-decoration: none;
}
.products ul.subcats .subcats_block div {
	display: table-row;
	height: 50px;
}
.products ul.subcats .subcats_block div:first-of-type {
	height: 200px;
}
.products ul.subcats .subcats_block div span {
	font-size: 1.2em;
	padding: .5em;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.products ul.subcats a .subcats_block img {
	display: block;
	padding: 1.25em;
	margin: 0 auto;
	max-height: 200px;
	max-width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*======Content text==========================================================*/

.products .content_wrapp {
	overflow: hidden;
}
.products .content_text {
	color: #999;
	margin: 30px 0 20px 0;
	max-height: 200px;
	overflow: hidden;
	position: relative;
}
.products .content_text:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(23%, rgba(255,255,255,0)), color-stop(72%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 72%, rgba(255,255,255,1) 100%);
}
.products input#read_more:checked + .content_text {
	max-height: 2000px;
}
.products input#read_more:checked + .content_text:before {
	content: '';
	position: absolute;
	bottom: 45px;
	left: 0;
	height: 20%;
	width: 100%;
	background: none;
}
.products label[for="read_more"] {
	float: right;
	cursor: pointer;
	color: #009e00;
	padding: 4px 10px;
}
.products label[for="read_more"]:hover {
	text-decoration: underline;
	color: #f36711;
}


/*Sorting=====================================================================*/

.center_wrap .sorting {
	float: right;
	margin: 0.67em 0;
}
.center_wrap .sorting form {
	float: left;
}
.center_wrap .sorting form label {
	color: #818181;
}

/*======Select styles=========================================================*/

.center_wrap .sorting form select {
	height: 29px;
	width: 165px;
	border-radius: 3px;
	margin: 0 10px;
	padding: 0 10px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;
}
.center_wrap .sorting .jq-selectbox li:hover {
	background: #52cf55;
	color: #fff;
}
.center_wrap .sorting .jq-selectbox.jqselect{
	width: 165px;
	margin: 0 10px;
}
.center_wrap .sorting .jq-selectbox__dropdown {
	border: 1px solid #52cf55;
	border-radius: 0;
	font: 14px/18px 'Open Sans', sans-serif;
	width: 230px !important;
	left: auto !important;
	right: 0 !important;
}
.center_wrap .sorting .jq-selectbox__select {
	height: 29px;
	font: 13px/26px 'Open Sans', sans-serif;
	border: 1px solid #b4b4b4;
	padding: 0 20px 0 10px;
	border-radius: 3px;
	background: #fff;
	color: #444;
	text-shadow: none;
}
.center_wrap .sorting .focused .jq-selectbox__select {
	border: 1px solid #52cf55;
}
.center_wrap .sorting .jq-selectbox__select-text{
	padding-right: 2px;
	width: 100% !important;
}
.center_wrap .sorting .jq-selectbox__trigger {
	border: none;
	width: 25px;
}
.center_wrap .sorting .jq-selectbox__select:hover {
	border-color:#52cf55;
}
.center_wrap .sorting .jq-selectbox__select:hover .jq-selectbox__trigger{
	color:#52cf55;
}
.center_wrap .sorting .jq-selectbox__trigger:after{
	content: "\e10f";
	font-family: icomoon;
	font-size: 18px;
	position: absolute;
	top: 1px;
	left: 0;
}
.center_wrap .sorting .jq-selectbox__trigger-arrow {
	display: none;
}

.center_wrap .sorting .jq-selectbox li.selected {
	background: #52cf55;
	color: #fff;
}

.center_wrap .sorting .prod_structure {
	float: right;
	margin-left: 10px;
}
.center_wrap .sorting .prod_structure span {
	font-size: 24px;
	line-height: 29px;
	cursor: pointer;
}
.center_wrap .sorting .prod_structure span.disabled {
	background: #fff !important;
}

/* View ======================================================================*/

#view_block_js {
	position: relative;
}
#view_block_js .product_section .product_photo img {
	display: block !important;
}
#view_block_js .product_article {
	color: #818181;
}
#view_block_js .preview_favorites {
	display: inline-block;
}
#view_block_js form.note {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	background: #fff;
}
#view_block_js .note textarea {
	border: none;
	resize: vertical;
	height: 25px;
  	float: right;
  	outline: none;
  	padding-right: 22px;
  	padding-left: 5px;
}
#view_block_js .note textarea:focus {
	min-height: 50px !important;
}
#view_block_js label.info_key {
	position: absolute;
	top: 10px;
    right: 4px;
}
#view_block_js .info_description {
	top: 28px;
}
#view_block_js .info_description:before {
	right: 5px;
}
#view_block_js .product_section .specifications {
	display: none;
}
#view_block_js .buy_block {
	padding-left: 5px;
	/* overflow: hidden; */
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#view_block_js .sold-out {
	line-height: 31px;
}
#view_block_js .sort_page {
	float: right;
	padding: 20px 15px 20px 0;
}
#view_block_js .show_more {
	clear: both;
	text-align: center;
	margin: 0 auto;
    width: 205px;
    position: relative;
}
#view_block_js .load_more {
	background: rgba(255, 255, 255, 1) url(../../images/AjaxLoader.gif) no-repeat 50% 50%;
	height: 32px;
    width: 32px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
}
#view_block_js #show_more_products {
	line-height: 32px;
    display: inline-block;
    vertical-align: top;
}

/* Lisi View =================================================================*/

.list_view .product_section {
	border-bottom: 1px solid #d9d9d9;
	background: #fff;
	display: flex;
}
.list_view div[class^="col-"]:nth-child(even) > .product_section {
	background: #f7f7f7;
}
.list_view .product_section .product_block {
	float: left;
	width: 50%;
	padding-right: 10px;
}
.list_view .product_section .product_photo {
	float: left;
	height: 110px;
	width: 120px;
	margin-right: 10px;
	padding: 5px 0;
	position: relative;
}
.list_view .product_section .product_photo a {
	display: block;
	min-width: 100px;
}
.list_view .product_section .product_photo img {
	max-height: 100px;
    max-width: 100%;
}
.list_view .product_section .product_name {
	padding: 7px 0 5px 0;
	max-width: 455px;
	margin-left: 130px;
}
.list_view .product_article {
	margin-left: 35%;
}
.list_view .product_section .product_info {
	float: right;
	margin: auto 0;
	margin-left: 40px;
	min-width: 220px;
	padding-top: 5px;
}
.list_view .product_section .product_info span.icon-font {
	margin-right: 5px;
}
.list_view .product_section .product_info ul {
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
	vertical-align: bottom;
}
.list_view .product_section .product_info .product_article {
	line-height: 20px;
}
.list_view .product_section .product_info form {
	margin-top: 10px;
	/*width: 100%;*/
	max-width: 220px;
}
.list_view .product_section .product_info textarea {
  	width: 100%
}
.list_view .product_section .product_buy {
	position: relative;
	float: right;
	min-width: 300px;
	margin: auto;
	margin-right: 0;
}

/* Module View ===============================================================*/

.module_view + div.row {
	margin: 0;
}
.module_view div[class^="col-"] {
	border-top: 1px solid #d9d9d9;
	height: 430px;
}
.module_view div[class^="col-"]:nth-of-type(1),
.module_view div[class^="col-"]:nth-of-type(2),
.module_view div[class^="col-"]:nth-of-type(3),
.module_view div[class^="col-"]:nth-of-type(4) {
	border-top: none;
}
.module_view .product_section {
    margin: 10px -15px;
    padding: 0 15px;
    border: 1px solid transparent;
	border-right-color: #d9d9d9;
	overflow: hidden;
    height: 410px;
}
.module_view .product_section:hover {
	position: absolute;
	height: auto;
	width: calc(100% + 10px);
	min-height: 100%;
	height: auto;
    background: #fff;
    z-index: 150;
    left: 10px;
    padding: 0px 15px;
    border-color: #d9d9d9;
    padding-left: 20px;
	padding-right: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
}
.module_view .product_section .product_photo {
	position: relative;
	height: 155px;
	border-bottom: 1px solid #d9d9d9;
}
.module_view .product_section .product_photo img {
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 8px;
}
.module_view .product_section .product_name {
	text-align: center;
	height: 36px;
	overflow: hidden;
	margin-bottom: 5px;
}
.module_view .product_section .product_info .rating_block ul {
	display: inline-block;
}
.module_view .product_section .product_info span.favorite {
	float: left;
    margin-right: 10px;
}
.module_view .product_section .product_info .comments {
	display: none;
}
.module_view .product_section .product_info .product_article {
	float: left;
}
.module_view .product_section .product_info form {
	width: 100%;
	margin: 10px 0;
}
.module_view .product_section .product_info textarea {
	/*max-width: 48%;*/
	width: 100%;
}
.module_view .duplicate {
	float: left;
}
.module_view .available_today {
	float: right;
}
.module_view .product_section .product_buy {
	margin: 10px 0;
	position: relative;
	clear: both;
}
.module_view .product_section .product_buy .other_price {
	text-align: center;
}
.module_view .product_section:hover .specifications {
	/*display: block !important;*/
	clear: both;
	margin: 10px 0;
}
.module_view .product_section .specifications ul {
	list-style: disc inside;
	color: #818181;
}
.module_view .product_section .specifications ul span {
	color: #444;
}


/* Preview ===================================================================*/


.preview {
	display: none;
	width: 758px;
	height: 415px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	/*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);*/
	z-index: 101;
	border-radius: 5px;
}
.preview .mdl-progress {
	display: none;
	position: absolute;
	left: calc(50% - 250px);
	top: 50%;
	z-index: 111;
}
.preview.ajax_loading .mdl-progress {
	display: block;
}
.owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    background: #333;
    float: left;
    margin-right: .5em;
    border-radius: 50%;
}
.preview.ajax_loading:before {
	content: "";
	display: block;
	position: absolute;
	background: #fff;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	z-index: 110;
}
.preview_content {
	background: #fff;
	min-height: 100%;
	border-radius: 5px;
	overflow-y: hidden;
}
.preview .triangle {
	position: absolute;
	background: #fff;
	width: 15px;
	height: 15px;
	transform: rotate(-45deg);
	top: 50%;
	left: -7px;
	z-index: -1;
	margin-top: -10px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
.preview .owl-carousel {
	overflow: visible !important;
}
.preview #owl-product_slide_js {
	max-height: 305px;
    margin-top: 10px;
    overflow: hidden !important;
}
.preview #owl-product_slide_js .item img {
	max-height: 305px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.preview #owl-product_slideDown_js.owl-carousel {
	overflow: hidden !important;
}
.preview #owl-product_slideDown_js.owl-carousel .owl-controls .owl-buttons div {
	width: 20px;
}
.preview #owl-product_slideDown_js.owl-carousel .owl-controls .owl-buttons div span {
	left: -9px;
}
.preview #owl-product_slideDown_js {
	max-height: 80px;
    padding: 2px 0;
}
.preview #owl-product_slideDown_js .item img {
	border: 1px solid #d9d9d9;
	height: 60px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.preview h4 {
	margin-top: 10px;
	max-height: 40px;
    overflow: hidden;
}
.preview h4 a {
	color: #444;
}
.preview .product_description {
	max-height: 55px;
	overflow: hidden;
	margin-bottom: 10px;
}
/* .snippet-demo-container .demo-slider .demo-slider__slider-starting-value{
	transform: rotate(-90deg);
    margin-bottom: 74px;
} */
/* .mdl-slider__container input.mdl-slider.mdl-js-slider {
    text-align: left;
    display: inline-block;
    transform: rotate(-90deg);
    margin-bottom: 74px;
} */

.list_view .product_article {
	margin-left: 0;
}
.preview .specifications {
	border-right: 1px solid #f0f0f0;
}
.preview .specifications ul {
	list-style: disc inside;
	color: #818181;
}
.preview .specifications ul span {
	color: #444;
}
.preview .specifications ul span.spec {
	display: inline-block;
    width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.preview .specifications ul span.unit {
	display: inline-block;
	width: 25%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.preview .preview_follprice {
	margin-top: 5px;
}
.preview .preview_follprice span.icon-font {
	font-size: 17px;
	color: #666;
}
.preview .rating {
	margin-top: 10px;
	display: block;
}
.preview .rating_stars {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.preview form.note {
	margin-top: 10px;
	width: 100%;
}
.preview .note textarea {
	width: 100%;
}
.preview .product_buy {
	position: relative;
	width: 290px;
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.preview .product_buy .other_price {
	text-align: center;
}
.preview .info_delivery {
	display: inline-block;
	padding-top: 10px;
}

/*Contragent==================================================================*/

.price_mode_container {
	position: absolute;
    top: -92px;
    right: 0;
}
.duplicate input {
	vertical-align: middle;
    margin-right: 5px;
}
.available_today {
	margin-bottom: 5px;
}
.available_today span {
	padding-right: 5px;
}

.service_block {
	text-align: right;
}
.service_block .comment_question {
	margin-bottom: 5px;
	cursor: pointer;
	background-color: #E3F6FF;
    padding: 5px 10px;
    border-radius: 3px;
}

/* Comment and Question Modal ============================= */

#comment_question {
	width: 400px;
}
#comment_question p {
	margin-bottom: 10px;
}
#comment_question textarea {
	width: 100%;
    margin-bottom: 10px;
    resize: vertical;
    border-radius: 3px;
}
#comment_question textarea:focus {
	outline: none;
    border-color: #52cf55;
}

/*Supplier====================================================================*/

#catalog_supplier {
	clear: both;
}
#catalog_supplier table tr {
	line-height: 2em;
}
#catalog_supplier .table_thead {
	margin-bottom: 0;
}
#catalog_supplier .table_tbody .image_cell a {
	display: block;
    max-height: 90px;
}
#catalog_supplier .table_tbody .image_cell img {
	vertical-align: middle;
    padding: 5px 0;
    height: 90px;
}
#catalog_supplier .table_tbody .name_cell {
	text-align: left;
	padding-left: 20px;
}
#catalog_supplier .table_tbody .product_article {
	color: #818181;
}

/*Media Query ================================================================*/

@media (max-width: 991px) {
	.tabs_container {
		padding-bottom: 0;
	}
	.tabs_container .tabs_block:first-child {
		padding-left:3px;
	}
	.tabs_container .tabs_block:last-child {
    	padding-right: 3px;
	}
	.tabs_container .tabs_block {
		padding-bottom: 6px;
	}
	.tabs_container .tabs_block button.user_active:after {
		top: 0;
	}
}
@media (max-width: 690px) {

	.center_wrap .sorting form label {
	    display: block;
	    margin-bottom: 5px;
	}
	.center_wrap .sorting .jq-selectbox.jqselect {
		margin: 0;
	}
	.center_wrap .sorting .prod_structure {
		margin: 22px 0 0px 10px;
	}
}

/*List Veiw===================================================================*/

@media (max-width: 1100px) {

	.list_view .product_section .product_buy {
		min-width: 0;
		padding-top: 5px;
	}
	.list_view .product_section .product_buy .buy_block {
		display: block !important;
	}
	.list_view .product_section .product_buy .buy_block .active_price {
		width: 100%;
		text-align: center;
	}
	.list_view .product_section .buy_buttons {
		width: 100%;
		text-align: center;
	}
	.list_view .product_section .product_buy .buy_block .buy_btn_block {
		text-align: center;
	}
	.list_view .product_section .product_buy .buy_block .buy_btn_block button,
	.list_view .product_section .product_buy .buy_block .buy_btn_block a {
		float: none !important;
	}
	.list_view .product_section .product_buy .other_price {
		text-align: center;
	}
	.list_view .product_section .product_info {
		margin-left: 5px;
	}
}

@media (max-width: 991px) {
	.list_view .product_section {
		flex-wrap: wrap;
	}
	.list_view .product_section .product_block {
		width: 100%;
	}
	.list_view .product_section .product_buy {
		width: 100%;
		margin-bottom: 10px;
	}
	.list_view .product_section .product_buy .buy_block {
		display: flex !important;
		justify-content: center !important;
	}
	.list_view .product_section .product_buy .buy_block .active_price {
		width: auto;
		text-align: center;
	}
	.list_view .product_section .buy_buttons {
		width: auto;
		text-align: center;
	}
	.list_view .product_section .product_buy .buy_block .buy_btn_block button,
	.list_view .product_section .product_buy .buy_block .buy_btn_block a {
		width: auto;
	}
	.list_view .product_section .product_buy .not_available {
		margin-left: 30px;
	}
	.list_view .product_section .product_info {
		margin: 0 auto 10px auto;
	}
}

/*Module Veiw=================================================================*/

@media (max-width: 1499px) {

	.module_view div[class^="col-"]:nth-of-type(4) {
		border-top: 1px solid #d9d9d9;
	}
	.module_view .product_section {
		border: none;
	}
	.module_view div[class^="col-"]:nth-child(3n+2) > .product_section {
	 	border-right: 1px solid #d9d9d9;
	 	border-left: 1px solid #d9d9d9;
	}
}
@media (min-width: 991px) and (max-width: 1255px) {

	#view_block_js.module_view .product_section .product_buy .buy_block {
		display: block;
		text-align: center;
	}
	.module_view .product_section .product_buy .buy_block .active_price {
		width: 100%;
	}
	.module_view .product_section .buy_buttons {
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

	.module_view div[class^="col-"]:nth-of-type(3) {
		border-top: 1px solid #d9d9d9;
	}
	.module_view div[class^="col-"]:nth-child(3n+2) > .product_section {
	 	border-right: none;
	 	border-left: none;
	}
	.module_view div[class^="col-"]:nth-child(2n+1) > .product_section {
	 	border-right: 1px solid #d9d9d9;
	 	border-left: 1px solid #d9d9d9;
	}
	#view_block_js.module_view .product_section .product_buy .buy_block {
		display: block;
		text-align: center;
	}
	.module_view .product_section .product_buy .buy_block .active_price {
		width: 100%;
	}
	.module_view .product_section .buy_buttons {
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

	#view_block_js.module_view .product_section .product_buy .buy_block {
		display: block;
	}
	.module_view .product_section .product_buy .buy_block .active_price {
		width: 100%;
	}
}
@media (max-width: 768px){
	.module_view .product_section .product_buy .buy_block {
		justify-content: space-around !important;
	}
	.module_view div[class^="col-"] {
		border-top: none;
	}
	.module_view div[class^="col-"]:nth-of-type(4) {
		border-top: none;
	}
	.module_view div[class^="col-"] > .product_section {
		border-left: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
	}

}

/*================*/
@media (max-width: 480px) {
	.list_view .card .product_buy {
		clear: both !important;
	}

	.list_view .card .product_buy .price {
		float: left;
	}

	.list_view .card .product_buy .buy_block .btn_remove {
		display: none;
	}
}
@media (min-width: 480px) and (max-width: 768px) {
	.list_view .card .product_buy .price {
		float: left;
		margin-right: 20px;		
		min-width: 70px;
	}

	.list_view .card .product_buy .buy_block {		
		margin-top: 3px;
	}
	
	.list_view .card .product_buy .buy_block .btn_remove {
		display: none;
	}
}

@media (max-width: 730px) {
	.list_view .card .product_buy .price {		
		margin-right: 20px;		
		min-width: 70px;
	}

	.list_view .card .product_buy .buy_block {		
		margin-top: 3px;
	}

	.products .card .product_name {
    	margin-top: 20px;
	}

	.list_view .card .product_buy {
		margin-top: 10px;
	}	
}
