/*Product Page*/

.breadcrumbs_wrap {
	padding: 0 10px;
}
.product_page .center {
	width: 100%;
}
.product_page .content {
	padding: 0 10px;
	position: relative;
}
.product_page h1 {
	font-size: 2em;
	margin: 0;
	padding-bottom: 10px;
	clear: both;
}
.product .mdl-cell:last-of-type {
	padding-right: 0;
}
.product .product_name {
	padding-bottom: 20px;
	overflow: auto;
}
.product .product_article {
	color: #818181;
	line-height: 20px;
	margin-right: 1em;
	float: left;
}
.product .product_main_img {
	border: 1px solid #e0e0e0;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.product .product_main_img:hover {	
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;	
}
.product .product_main_img img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#owl-product_mini_img_js {
	padding: 10px 40px;
	width: 100%;
}
#owl-product_mini_img_js.mobile_carousel {
	width: 100%;
	padding: 0;
	margin: 0;
}
#owl-product_mini_img_js .owl-item {
	/*margin-right: 10px;*/
}
#owl-product_mini_img_js .owl-item:hover {
	cursor: pointer;
}
#owl-product_mini_img_js.mobile_carousel .owl-item {
	width: 100%;
}
#owl-product_mini_img_js .owl-item img {
	max-width: 120px;
	margin: 0 auto;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
}
#owl-product_mini_img_js .owl-item .act_img {
	border-color: #018B06;
}
#owl-product_mini_img_js.mobile_carousel .owl-item img {
	max-width: 100%;
	max-height: 100%;
}
#owl-product_mini_img_js .owl-prev,
#owl-product_mini_img_js .owl-next {
	width: 40px;
	/*background: #fff;*/
}

/* #owl-product_mobile_img_js .owl-prev,
#owl-product_mobile_img_js .owl-next {
	background: #fff;
} */


/*#owl-product_mini_img_js .owl-prev:hover,
#owl-product_mini_img_js .owl-next:hover {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}*/
#owl-product_mini_img_js .arrow_right {
	left: 0;
}
#owl-product_mini_img_js .arrow_left {
	right: 0;
}
#owl-product_mini_img_js .arrow_right,
#owl-product_mini_img_js .arrow_left {
	width: 50px;
}
.slider_products {
	padding: 10px;
}
.slider_products h4 {
	font-size: 1.429em;
	margin: .5em 0;
}
.slider_products .owl-carousel {
	width: 100%;
	padding: 0 50px;
}
.slider_products .owl-item {
	padding: 10px;
}
.slider_products .owl-item .item {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	background: #fff;
	text-align: center;
	border-radius: .2em;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
.slider_products .owl-item:hover .item {
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
.slider_products .owl-item a {
	display: block;
	padding: 10px;
}
.slider_products .owl-item span {
	color: #444;
	display: block;
	margin-top: 10px;
	height: 3em;
	overflow: hidden;
}
.slider_products .owl-item .ca-more {
	opacity: .9;
	position: absolute;
	bottom: 30%;
	right: 25px;
	border-radius: .2em;
	padding: 5px 10px;
	z-index: 99;
	background: #fff;
	border: 1px solid #e0e0e0;
	text-align: center;
}
.product .content_header {
	padding: 0;
}
.product .content_header .cart_info {
	float: none;
	width: 100%;
}
.product .pb_wrapper {
	position: relative;
	padding: 20px 0;
}
.product .product_buy {
	float: none;
	width: auto;
	max-width: none;
	width: 100%;
}
.product .product_buy .buy_block {
	justify-content: flex-start;
}
.product .product_buy .buy_block > div {
	margin-right: 20px;
}
.product .product_buy .buy_block .price,
.product .product_buy .buy_block span {
	font-size: 2em;
}

.product .product_buy .buy_block .price span {
	margin-left: 10px;
}
.product .product_buy .buy_block .btn_buy button {
	background: #ff5722;
	border: 0;
	color: #fff;
}
.apps_panel {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -45px;
}
.apps_panel ul li {
	cursor: pointer;
	outline: none;
}
.apps_panel .isfavorite,
.apps_panel .isfavorite:hover {
	color: red;
}
.apps_panel ul li i,
.apps_panel ul li .waiting_list {
	vertical-align: middle;
	line-height: 30px;
	outline: none;
	color: #9e9e9e;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.apps_panel ul li:hover i,
.apps_panel ul li:hover .icon,
.apps_panel ul li .arrow,
.sold_produxt_info ul li .arrow {
	color: #FF5722 ;
}
.rating_block {
	float: right;
	text-align: right;
}
.rating_block > * {
	display: inline-block;
	vertical-align: middle;
}
.rating_block ul {
	overflow: hidden;
}
.rating_block ul li {
	float: left;
}
.rating_block ul li i {
	font-size: 1.5em;
	line-height: 20px;
	cursor: default;
	color: #ff5722;
	vertical-align: text-bottom;
}
.stars_qty {
	margin: 0 10px;
}
div[for="rating_block"] {
	font-size: 12px;
}
.product .mdl-tabs {
	clear: both;
	overflow: hidden;
}
.product .tabs {
	display: block;
	/*border-bottom: none;*/
	/*height: auto;*/
	/* min-width: 680px; */
	margin-top: 0px;
	margin-bottom: 0px;
	/*border: 1px solid #e0e0e0;*/
}

@media (min-width: 700px){
	.product .mdl-tabs__tab-bar {
		min-width: 680px;
	}
}

.product .mdl-tabs__tab {
	
}
.product .mdl-tabs__panel {
	display: none;
}
/*.product .mdl-tabs__tab*/
.product .mdl-tabs__tab:last-child {
	border-right: none;
}
.product .tab-content {
	/*min-height: 250px;*/
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-top: 0;
	background: #fff;
}
#specifications .mdl-grid {
	line-height: 2.5em;
	border-bottom: 1px solid #e0e0e0;
}
#specifications .mdl-grid:last-of-type {
	border-bottom: 0;
}
#specifications .mdl-grid:nth-of-type(odd) {
	background: #f7f7f7;
}
#specifications .mdl-grid .mdl-cell {
	padding: 0 10px;
}
#specifications .mdl-grid .mdl-cell:first-of-type {
	/*text-align: right;*/
}
#specifications .mdl-grid .mdl-cell:last-of-type {
	border-left: 1px solid #e0e0e0;
}
#specifications ul li {
	clear: both;
	overflow: hidden;
}
#specifications ul li span {
	display: inline-block;
	width: 50%;
	position: relative;
	background: #fff;
	box-sizing: border-box;
}
#specifications ul li:hover span {
	background: #f5f5f5;
}
#specifications ul li span.caption {
	position: relative;
}
#specifications ul li span.caption:after {
	content: '';
	position: absolute;
	top: 80%;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e0e0e0;
}
#specifications ul li span.value {
	padding-left: 5px;
}
#comments .feedback_form h4 {
	text-align: center;
	margin: 0;
	font-size: 1.429em;
}
#comments .feedback_form .feedback_stars {
	overflow: hidden;
	margin-bottom: 5px;
}
#comments .feedback_form .feedback_stars label {
	float: left;
}
#comments .feedback_form .feedback_stars label.label_for_stars {
	margin-right: 10px;
}
#comments .feedback_form .feedback_stars label i {
	color: #ff5722;
	vertical-align: middle;
	font-size: 20px;
}
#comments .feedback_form [for="feedback_text"] {
	display: block;
}
#comments .feedback_form #feedback_text {
	box-sizing: border-box;
	width: 100%;
	min-height: 70px;
}
#comments .feedback_form .user_data {
	margin-top: 10px;
	overflow: hidden;
}
#comments .feedback_form .user_data .fild_wrapp {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-left: 10px;
}
#comments .feedback_form .user_data .fild_wrapp:first-of-type {
	padding-left: 0;
}
#comments .feedback_form .user_data label {
	display: block;
}
#comments .feedback_form .user_data input {
	line-height: 23px;
	padding: 0 5px;
	width: 100%;
	box-sizing: border-box;
}
#comments .feedback_form button {
	float: right;
	margin-top: 10px;
}
#comments .feedback_container {
	clear: both;
	padding: 15px 0;
}
#comments .feedback_container .feedback_sub_container {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0e0e0;
}
#comments .feedback_container .feedback_hidden {
	color: #f00;
	display: block;
	font-style: italic;
}
#comments .feedback_container .feedback_author {
	font-size: 15px;
	font-weight: bold;
	float: left;
}
#comments .feedback_container .feedback_date {
	float: left;
}
#comments .feedback_container .feedback_date,
#comments .feedback_container .rating_stars li {
	color: #9e9e9e;
	margin-left: 5px;
}
#comments .feedback_container .feedback_date i,
#comments .feedback_container .rating_stars i {
	font-size: 17px;
	vertical-align: sub;
	cursor: default;
}
#comments .feedback_rating {
	display: inline-block;
	clear: both;
	float: left;
}
#comments .feedback_container .rating_stars {
	overflow: hidden;
	margin-left: 2px;
	float: right;
	line-height: 17px;
}
#comments .feedback_container .rating_stars li {
	float: left;
}
#comments .feedback_container .rating_stars li {
	vertical-align: middle;
}
#comments .feedback_container p.feedback_comment {
	padding-top: 5px;
	clear: both;
}

/* Стили для слайдера миниатюр. ВИДЕО */

.product_main_img #mainVideoBlock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
#owl-product_mini_img_js .videoBlock {
	width: 120px;
	height: 120px;
}
#owl-product_mini_img_js .videoBlock .videoBlockShield {
	width: 120px;
	height: 120px;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
}

/* Стили для иконок "ПОДЕЛИТЬСЯ" */
#socialShare {
	width: 210px;
}

#socialShare .social {
	text-align: center;
}

#socialShare .social {
	padding: 5px 0;
	cursor: default;
}
#socialShare .social li {
	display: inline-block;
}
#socialShare .social li a {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 4px;
}
#socialShare .social li:last-child a {
	margin-right: 0;
}

#socialShare .social li a.vk {
	background-color: #4c75a3;
}
#socialShare .social li a.ok {
	background-color: #ff9c43;
}
#socialShare .social li a.g_pl {
	background-color: #ff6d4a;
}
#socialShare .social li a.f {
	background-color: #496194;
}
#socialShare .social li a.tw {
	background-color: #28c3ff;
}
#socialShare .social li a:hover {
	background-color: #757575;
}

/* СТИЛИ ДЛЯ УВЕДОМЛЕНИИ О ПРИМЕЧАНИИ И ОТСУТСТВИИ ТОВАРА В НАЛИЧИИ*/

.notificationProdNote,
.sold_produxt_info {	
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
}
.notificationProdNote{
	background: #ffffad;
}
.sold_produxt_info {
	background: #b2dfdb;
}
.sold_produxt_info .waiting_list:hover {
	cursor: pointer;
	color: #FF5722;
} 
.sold_produxt_info .icon {
	margin-left: 10px;
}
.sold_produxt_info .waiting_list {
	border: 1px solid;
	margin-top: 5px;	
}
#fortrending_info {
	width: 40px;
}

[data-type="panel"][data-position="left"] {
	left: -80vw;
}
#catalog {
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}

.product .product_buy .buy_block .supplier_block {
	width: 68%;
	margin-top: -32px;
	padding-left: 10px;
	padding-right: 10px;
}
.product .product_buy .buy_block .supplier_block span,
.product .product_buy .buy_block .supplier_block p {
	font-size: 1em;
	display: inline;
}
.product .product_buy .buy_block .supplier_block .product_check label {
	width: 30px;
}  


/*
#socialShare {
	width: 240px;
}

#socialShare .social {
	padding-left: 5%;
}

#socialShare .social ul {
	padding: 10px 0 0;
	cursor: default;
}
#socialShare .social ul li {
	display: inline-block;
}
#socialShare .social ul li a {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 4px;
}
#socialShare .social ul li:last-child a {
	margin-right: 0;
}

#socialShare .social ul li a.vk {
	background-color: #4c75a3;
}
#socialShare .social ul li a.ok {
	background-color: #ff9c43;
}
#socialShare .social ul li a.g_pl {
	background-color: #ff6d4a;
}
#socialShare .social ul li a.f {
	background-color: #496194;
}
#socialShare .social ul li a.tw {
	background-color: #28c3ff;
}
#socialShare .social ul li a.y_t {
	background-color: #cc181e;
}

#socialShare .social ul li a:hover {
	background-color: #757575;
}
 */

@media (max-width: 1600px) {
	.slider_products {
		background: #f5f5f5;
		border-top: 1px solid #e0e0e0;
	}
}
@media (max-width: 1024px) {
	.product .tabs {
		width: auto;
	}
}




/*Tablet*/
@media (min-width: 728px) and (max-width: 1169px) {

	/*.product_page .catalog_btn {
		width: 260px;
	}*/
	.product .content_header .cart_info {
		width: 100%;
	}
}

/*Phone*/
@media (max-width: 727px) {

	.product .mdl-cell {
		padding-right: 0;
	}
	.product_page h1 {
		padding-top: 10px;
	}
	#owl-product_mini_img_js .item {
		width: 100%;
		box-sizing: border-box;
		height: auto;
	}
	#owl-product_mini_img_js .item img {
		max-width: 100%;
	}
	.product .product_buy {
		width: 100%;
	}
	.product .product_buy .quantity {
		display: none;
	}
	.product .product_buy .buy_block .btn_remove,
	.product .product_buy .buy_block .btn_add {
		display: none !important;
	}
	.product_buy .buy_block .btn_buy:hover button {
		height: 36px;
		top: 0;
	}

	.product_page h1 {
		font-size: 1.5em;
	}
	.product .product_buy .buy_block span,
	.product .product_buy .buy_block .price {
		font-size: 1.5em;
	}
}

@media (max-width: 457px) {
	.product .fortabs .tabs a {
		width: 50%;
	}
	.product .fortabs .tabs a:last-child {
		width: 100%;
	}	
}

@media (max-width: 400px) {
	.product .product_buy .buy_block .price,
	.product .product_buy .buy_block span {
		font-size: 1.7em;
	}
}
.big_photos_carousel {
	width: 55vw;
	height: 70vh;
}
.big_photos_carousel .modal_container {
	overflow-x: hidden;
}


.big_photos_carousel .owl-item img {
	max-width: 100%;
    max-height: 66.5vh;
    width: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.big_photos_carousel .owl-item,
.big_photos_carousel .owl-stage {
	height: 100%;
}

.big_photos_carousel .owl-stage-outer {
	/* height: 92%; */
	height: calc(100% - 28px);
}

@media (max-height: 880px) {
	.big_photos_carousel .owl-item img {
		max-height: 63vh;
	}
	.big_photos_carousel .mobile_carousel {
		height: 67vh;
	}
}

/* .big_photos_carousel .mobile_carousel .owl-stage-outer,
.big_photos_carousel .mobile_carousel .owl-stage-outer img {
	height: 70vh;
} */

.demand_graph{
	height: 350px;	
}
.demand_graph .embed-footer .embed-footer-link{
	display: none;
}
@media (max-width: 500px) {
	.demand_graph{
		height: 400px;
	}
}

.product .product_buy .buy_block,
.product .product_buy .buy_block .quantity .units {
	font-size: 1em;
}