
/*FOOTER*/
footer {
	color: #444;
	border-top: 1px solid #e0e0e0;
}
footer .footer_wrapp {
	margin: 0 auto;
	max-width: 1600px;
	padding: 2em 10px 0;
}
footer h5 {
	/*margin: 15px 0 4px 0;*/
	margin-top: 0;
	font-weight: normal;
	font-size: 1.143em;
}
footer ul li {
	line-height: normal;
	/*color: #444;*/
	line-height: 24px;
}
footer ul li a {
	font-weight: normal;
	display: block;
}
footer .mdl-mega-footer {
	padding-bottom: 2em;
}
footer .mdl-mega-footer__left-section {
	width: calc(100% - 320px);
	margin-bottom: 0;
}
footer .questions,
footer .contacts {
	float: left;
}
footer .questions {
	width: 54%;
}
footer .questions ul {
	-webkit-columns: 2;
	-moz-columns: 2;
	-o-columns: 2;
	columns: 2;
}
footer .questions ul li a {
	/*line-height: 24px;*/
}
footer .contacts {
	width: 46%;
}
footer .social ul {
	padding: 10px 0 0;
	cursor: default;
}
footer .social ul li {
	display: inline-block;
}
footer .social ul li a {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #757575;
	margin-right: 4px;
}
footer .social ul li:last-child a {
	margin-right: 0;
}
footer .ad_sense {
	float: right;
	padding: 10px;
	margin-bottom: 2em;
	width: 320px;
	height: 270px;
}
footer .ad_sense img {
	display: block;
	margin: 0 auto;
}
footer .social ul li .vk:hover {
	background-color: #4c75a3;
}
footer .social ul li .ok:hover {
	background-color: #ff9c43;
}
footer .social ul li .g_pl:hover {
	background-color: #ff6d4a;
}
footer .social ul li .f:hover {
	background-color: #496194;
}
footer .social ul li .tw:hover {
	background-color: #28c3ff;
}
footer .social ul li .y_t:hover {
	background-color: #cc181e;
}
footer .copyright {
	clear: both;
	padding: 15px 10px;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
}
footer .copyright p {
	margin-bottom: 0;
	float: left;
}
footer .copyright p.created {
	float: right;
}

/*TABLET*/

@media (min-width: 728px) and (max-width: 1169px) {

	footer .mdl-mega-footer__left-section {
		padding-bottom: 2em;
		float: left;
	}
	footer .questions,
	footer .contacts {
		width: 100%;
	}
	footer .contacts {
		margin-top: 2em;
	}
}

/*PHONE*/

@media (max-width: 727px) {
	footer {
		text-align: center;
	}
	footer .mdl-mega-footer__left-section {
		width: 100%;
		padding-bottom: 2em;
		overflow: auto;
	}
	footer .questions ul {
		-webkit-columns: 1;
		-moz-columns: 1;
		-o-columns: 1;
		columns: 1;
	}
	footer .questions,
	footer .contacts {
		width: 100%;
	}
	footer .contacts {
		margin-top: 2em;
	}
	footer .ad_sense {
		float: none;
		clear: both;
		margin: 0 auto 2em;
	}
	footer .copyright p,
	footer .copyright p.created {
		float: none;
	}
}
