/*GLOBALS*/

/*Include google fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);

html {
	overflow-y: scroll;
}
body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #343030;
	background: #fff;
}
a {
	text-decoration: none;
	color: #9E9E9E;
	font-weight: 500;
}
a:hover {
	color: #343030;
}
p a {
	text-decoration: underline;
}
p {
	margin-bottom: 0;
	line-height: 16px;
}
  #newheader_wrapp {

       position: relative;


}
input,
textarea {
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	outline: none;
}
input.mdl-textfield__input,
textarea.mdl-textfield__input {
	border-radius: 0;
}
input:hover,
textarea:hover {
	border: 1px solid #bdbdbd;
}
input.mdl-textfield__input:hover,
textarea.mdl-textfield__input:hover {
	border: none;
	border-bottom: 1px solid #bdbdbd;
}
input:focus,
textarea:focus {
	border: 1px solid #bdbdbd;
}
input.mdl-textfield__input:focus,
textarea.mdl-textfield__input:focus {
	border: none;
	border-bottom: 1px solid #bdbdbd;
}
i.material-icons {
	overflow: hidden;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: rgba(204, 204, 204, 0.28);
}
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.15);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.info_key {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 5px;
	border: 1px solid #9e9e9e;
	border-radius: 50%;
	color: #9e9e9e;
	font-size: .75em;
	line-height: 1.45em;
	text-align: center;
	width: 15px;
	height: 15px;
	cursor: help;
	background: #fff;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.info_key:hover {
	background: #FF5722;
	border-color: #FF5722;
	color: #fff;
}
.info_description {
	position: absolute;
	display: block;
	cursor: default;
	opacity: 0;
	/*display: none;*/
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	border-radius: 3px;
	padding: 10px;
	top: 150%;
	right: -2px;
	margin-top: 1px;
	z-index: -10;
	color: #000;
	text-align: left;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
}
.info_description:after {
	content: '';
	top: -9px;
	right: 6px;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	margin-left: -13px;
}
.info_description:before {
	content: '';
	position: absolute;
	display: block;
	top: -10px;
	right: 5px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(190,190,190,.4);
	margin-left: -9px;
}
label:hover + .info_description {
	opacity: 1;
	/*display: block;*/
	top: 100%;
	z-index: 110;
}
.tooltip_wrapp {
	position: relative;
	text-align: left;
}
.tooltip_wrapp .info_description:after,
.tooltip_wrapp .info_description:before {
	display: none;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.panel {
	background: #fff;
	position: absolute;
	top: -10px;
	right: 0;
	width: 80%;
	height: 0;
	overflow-y: auto;
	padding: 10px;
	padding-top: 0;
	color: #8f8f8f;
	font-size: 1.071em;
	max-width: 300px;
	box-sizing: border-box;
	z-index: 3;
}
.panel.opened {
	height: calc(100% - 45px);
	top: 45px;
}
.background_panel {
	background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    /*display: none;*/
    visibility: hidden;
}
[data-type="panel"],
[data-type="modal"]{
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
[data-type="modal"]{
	display: none;
}
[data-type="modal"].opened {
	display: block;
}
[class^="active_"] .banner,
[class*=" active_"] .banner,
[class^="active_"] .main ,
[class*=" active_"] .main {
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}
[class^="active_"],
[class*=" active_"] {
	overflow: hidden;
	height: 100%;
}
[class^='active_'] .background_panel,
[class*=' active_'] .background_panel {
	background-color: rgba(0,0,0,.3);
    /*display: block;*/
    visibility: visible;
}
[class^='active_'] header,
[class*=' active_'] header {
	background: #fff;
	/*z-index: 1;*/
}

/*Phone_menu =================================================================*/

.phone_menu {
	display: none;
}
.phone_menu [class^="material-"] {
	cursor: pointer;
}
.panel ul.phone_nav li a {
	display: block;
	font-weight: normal;
	border-bottom: 1px solid #e5e5e5;
	line-height: 15px;
	padding: 10px 0;
	font-size: 1.071em;
}

/*Contacts*/
ul.phone_nav_contacts li {
    padding: 0;
    float: left;
    width: 100%;
}
ul.phone_nav_contacts li.parent_nav {
	margin-top: 10px;
}
ul.phone_nav_contacts li .material-icons {
	line-height: 20px;
    float: left;
    font-size: 16px;
}
ul.phone_nav_contacts li span {
	width: calc(100% - 23px);
    float: right;
}

/*Paginator ==================================================================*/

.paginator {
	text-align: center;
	height: 30px;
	padding-bottom: 30px;
	clear: both;
}
.paginator ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.paginator li {
	float: left;
	margin: 0 5px;
	width: 30px;
}
.paginator li a {
	background: #ffffff;
	line-height: 30px;
	border-radius: 100%;
	color: #444;
	display: block;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	width: 100%;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.paginator li.active a {
	cursor: default;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),
				0 6px 20px 0 rgba(0,0,0,.19);
}
.paginator li a:hover {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2),
						0 6px 20px 0 rgba(0, 0, 0, .19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2),
				0 6px 20px 0 rgba(0, 0, 0, .19);
}

.imit_select .mdl-menu__item.active {
	background-color: rgb(238,238,238);
}

.color-grey-search {
	background: #ECECEC !important;
}
.rotate {
	transform: rotate(90deg) !important;
}

/*When Banner Hidden*/
.banner_hidden .banner {
	display: none;
}
.banner_hidden .main {
	padding-top: 52px;
}
.banner_hidden header {
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
}
.banner_hidden aside#catalog {
	margin-top: 51px;
}

/*Banner(main owl carousel) ==================================================*/

.owl-carousel .owl-controls .owl-buttons div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100px;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
	/*background: rgba(0, 0, 0, .2);*/
}
.owl-carousel .owl-controls .owl-buttons div svg use {
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
.owl-carousel .owl-controls .owl-buttons div:hover  svg use {
	/*background: rgba(0, 0, 0, .4);*/
	stroke: #EF5350;
	stroke-width:10;

}
.owl-carousel .owl-controls .owl-buttons div.owl-prev {
	left: 0;
}
.owl-carousel .owl-controls .owl-buttons div.owl-next {
	right: 0;
}
.owl-carousel .owl-controls .owl-buttons div svg {
	display: block;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	fill:none;
	stroke:#808080;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

/* Modal windows ============================================================ */

[data-type="modal"] {
	display: none;
	padding: 1em;
	background: #fff;
	border-radius: .4em;
	border: 1px solid #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	max-height: 80%;
	max-width: 80%;
	overflow: hidden;
}
[data-type="modal"].opened {
	display: block;
	z-index: 101;
}
[data-type="modal"].opened a.close_modal{
	color: #bcbcbc;
	border-radius: .4em;
	position: absolute;
	text-decoration: none;
	right: 0;
	top: 0;
	z-index: 200;
	line-height: 30px;
	width: 30px;
	font-size: 1.25em;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
[data-type="modal"].opened a.close_modal:hover{
	color: #f00;
}

/*Breadcrumbs ================================================================*/

.breadcrumbs_wrapp {
	padding-top: 20px;
}
#breadcrumbs {
	line-height: 42px;
	float: left;
}
#breadcrumbs .material-icons {
	vertical-align: middle;
	color: #9e9e9e;
}
#breadcrumbs li {
	display: inline-block;
}

/*LAYOUT*/

header {
	position: fixed;
	max-height: 52px;
	width: 100%;
	padding: 10px 0;
	top: 0;
	z-index: 100;
	box-sizing: border-box;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
.header_wrapp,
.main {
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}
.main {
	overflow: hidden;
}
aside,
.center {
	margin: 0;
}
.banner {
	overflow: hidden;
	position: relative;
	height: auto;
	/*min-height: 52px;*/
}
/* .banner img {
	display: block;
	width: 100%;
} */
aside {
	width: 300px;
	float: left;
}
section.center {
	width: calc(100% - 300px);
	float: right;
	overflow: hidden;
}
.no-sidebar section.center {
	width: 100%;
}


/*Cart =======================================================================*/

#cart {
	padding: 25px 10px;
	width: 100%;
}
#cart h5 {
	margin: 0;
	margin-left: 35px;
    margin-bottom: 20px;
    float: left;
}
#cart .order_head ul {
	text-align: left;
	overflow: hidden;
}
#cart .order_head ul li {
	float: left;
	background-color: rgb(245,245,245);
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0;
	text-align: center;
}
#cart .order_head ul li:last-child {
	border-right: none;
}
#cart .order_head ul li.photo {
	margin-left: 35px;
	width: 120px;
}
#cart .order_head ul li.name {
	width: calc( 60% - 155px);
}
#cart .order_head ul li.price {
	width: 38%;
	/*text-align: left;
	padding-left: 10px;*/
}
#cart .card {
	clear: both;
}
#cart .card .product_name,
#cart .card .product_info {
	float: left;
	width: calc( 60% - 155px);
}
#cart .card .product_buy {
	float: left;
	width: 40%;
	display: flex;
    justify-content: space-around;
}
#cart .order_wrapp {
	clear: both;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 502px;
}
#cart .card {
	border-bottom: 1px solid #e0e0e0;
	padding: 5px;
}
#cart .remove_prod_mob {
	display: none;
}
#cart .remove_prod {
	float: left;
	line-height: 100px;
	padding-right: 5px;
	color: #bcbcbc;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
	-webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .4s cubic-bezier(.4, 0, .2, 1);
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}
#cart .remove_prod:hover {
	color: inherit;
}
#cart .card .product_photo {
	padding-left: 5px !important;
}
#cart .product_name {
	text-align: left;
}
#cart .product_buy {
	position: relative;
}
#cart .product_buy .buy_block {
	width: auto;
}
#cart .product_buy .buy_block {
	float: right;
	min-width: 210px;
}
#cart .products .product_buy {
	margin-top: 10px;
	width: auto;
	max-width: 335px;
	float: right;
}
#cart .product_buy .summ {
	position: absolute;
    top: -25px;
    right: 35px;
    color: #818181;
}
#cart .product_buy .buy_block .btn_remove {
	width: auto;
}
#cart .product_buy .buy_block .btn_remove button {
	position: static;
}
#cart .product_buy .buy_block .btn_remove:hover button {
	position: static;
	top: auto;
	height: 25px;
}
#cart .product_buy .buy_block .btn_buy {
	width: auto;
}
#cart .product_buy .buy_block .buy_btn_js {
	position: static;
}
#cart .card:hover .buy_btn_js {
    background-color: #FFCCBC;
    border-color: #FFCCBC;
}
#cart .product_buy .buy_block .btn_buy:hover .buy_btn_js {
	padding: 0 10px;
    position: static;
    top: auto;
    line-height: normal;
    height: 25px;
}
#cart .total {
	font-weight: bold;
	font-size: 1.429em;
	line-height: 45px;
	float: right;
}
#cart .total div {
	display: inline-block;
	min-width: 105px;
	padding: 0 10px;
	border-right: 1px solid #e0e0e0;
}
#cart .total div:last-of-type {
	border-right: none;
}
#cart .total .positions,
#cart .total .total_summ {
	font-size: 14px;
}
#cart .total .positions span,
#cart .total .total_summ span {
	font-size: 1.429em;
}
#cart .total .total_summ {

}
#cart .action_block {
	overflow: hidden;
	clear: both;
	padding-top: 30px;
}
#cart .action_block button {
	background: #ECECEC;
	color: #9e9e9e;
    font-size: 1.786em;
    height: 45px;
    padding: 0 20px;
    margin-top: 20px;
}
#cart .action_block .wrapp:hover button {
	background-color: #FFCCBC;
    border-color: #FFCCBC;
    color: inherit;
}
#cart .action_block button:active {
	background: #D8D8D8;
	color: inherit;
}
#cart .action_block .wrapp {
	width: 340px;
}
#cart .action_block .wrapp:first-of-type {
	float: left;
	padding-left: 70px;
}
#cart .action_block .wrapp:last-of-type {
	float: right;
	padding-right: 70px;
	margin-top: 10px;
}
#cart .tabs_container .in_cart_block {
	border-color: transparent !important;
}
#cart .tabs_container .in_cart_block a {
	display: inline-block;
}
#cart .tabs_container .in_cart_block a span {
	border-radius: 3px !important;
}
#cart .cart_info .your_discount,
#cart .cart_info .tabs_container {
	margin-bottom: 30px;
}
#cart .cart_info .your_discount,
#cart .cart_info .order_balance {
	color: #9e9e9e;
	font-size: 1.429em;
}
#cart .action_block .mdl-textfield {
	width: 100%;
}
#cart .action_block form .mdl-checkbox {
    float: left;
    clear: both;
    text-align: left;
}
#cart .action_block form .number_label {
	position: absolute;
    top: -10px;
    left: 0;
    font-size: 20px;
}

/*Contacts*/
ul.phone_nav_contacts li {
    padding: 0;
    float: left;
    width: 100%;
}
ul.phone_nav_contacts li.parent_nav {
	margin-top: 10px;
}
ul.phone_nav_contacts li .material-icons {
	line-height: 20px;
    float: left;
    font-size: 16px;
}
ul.phone_nav_contacts li span {
	width: calc(100% - 23px);
    float: right;
}

/*SIDEBAR*/

.breadcrumbs_wrapp .catalog_btn {
	display: inline-block;
	font-size: 1.429em;
	background: #F5F5F5;
	/*color: #bdbdbd;*/
	color: #757575;
	float: left;
	border: 1px solid #e0e0e0;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    margin-right: 20px;
	/*position: absolute;*/
	/*padding-top: 20px;*/
	cursor: pointer;
}
.breadcrumbs_wrapp .catalog_btn:hover {
	background: #fff;
	color: inherit;
}
.breadcrumbs_wrapp .catalog_btn i {
	margin-left: 5px;
	vertical-align: middle;
	float: right;
}
aside {
	padding-bottom: 20px;
	position: absolute;
	height: 100%;
}
.banner_hide aside {
	position: fixed;
}
aside .sidebar_wrapp {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
aside .catalog {
	border-bottom: 1px solid #e0e0e0;
}
aside .catalog .main_nav {
	border: 1px solid #e0e0e0;
}
aside .catalog .main_nav li {
	text-transform: uppercase;
	color: #bdbdbd;
	font-size: 16px;
	font-size: 1.143em;
	cursor: pointer;
	font-weight: 500;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px;
	position: relative;
}
aside .catalog .main_nav li:last-child {
	border-bottom: none;
}
aside .catalog .main_nav li:hover,
aside .catalog .main_nav li.active {
	background: #fff;
	color: inherit;
}
aside .catalog .main_nav i {
	vertical-align: top;
	margin-right: 10px;
	font-size: 22px;
}
aside .catalog .main_nav .info_key {
	font-weight: normal;
	line-height: 1.45em;
	display: none;
}
aside .catalog .main_nav .info_key,
aside .catalog .main_nav .info_description {
	text-transform: lowercase;
}
aside .catalog .main_nav li:hover .info_key {
	display: block;
}
aside .catalog .main_nav .included_filters {
	font-size: 14px;
    text-transform: lowercase;
    font-weight: normal;
    float: right;
    color: #EF5350;
    display: inline-block;
}
aside .catalog .second_nav {
	padding: 10px 0;
}
aside .catalog .second_nav .link_wrapp .more_cat {
	cursor: pointer;
    border-left: 1px solid transparent;
	width: 30px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
aside .catalog .second_nav .link_wrapp:hover .more_cat {
	background: #FAFAFA;
}
aside .catalog .second_nav .more_cat:hover {
	border-color: #9e9e9e;
}
aside .catalog .second_nav i.material-icons {
    font-size: 16px;
	box-sizing: border-box;
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(50% - 8px);
    transform: rotate(0deg);
    transition: transform 0.3s;
}
aside .catalog .second_nav li {
	line-height: 15px;
}
aside .catalog .second_nav li .link_wrapp {
	display: block;
	overflow: hidden;
	position: relative;
}
aside .catalog .second_nav li .link_wrapp:hover {
	background: #fff;
	color: inherit;
}
aside .catalog .second_nav li a {
	font-weight: normal;
	padding: 5px 0;
	padding-left: 15px;
	padding-right: 30px;
	width: 100%;
    display: block;
    float: left;
    box-sizing: border-box;
	color: #9E9E9E;
}
aside .catalog .second_nav li.active a {
	color: #343030;
}

/* p:not(:nth-child(2n+1)) {
  font-size: 3em;
} */

/* Chrome, Safari, Opera */

aside .catalog .second_nav li > ul {
	margin-left: 20px;
    overflow: hidden;
    max-height: 0;
    transition: all 1s ease-in-out;
}
aside .catalog .second_nav li.active > ul {
	max-height: 1000px;
}
aside .catalog .second_nav li > ul li a {
	/*padding: 2px 0;*/
}
aside .catalog .second_nav li > ul li > ul {
	margin-left: 25px;
}
aside .catalog .second_nav li > ul li > ul li a {
	display: inline-block;
	max-width: 80%;
	padding-right: 0;
	/*padding: 0;*/
}
aside .catalog .second_nav li > ul li > ul li .link_wrapp {
	padding-right: 10px;
}
aside .catalog .second_nav li > ul li > ul li .qnt_products {
	display: inline-block;
	max-width: 20%;
	color: #9e9e9e;
	float: right;
	padding: 5px 0;
}
aside .filters {
	display: none;
}
aside .filters .filter_block {
	padding: 10px;
	padding-bottom: 0;
}
aside .filters .filter_block p {
	margin-bottom: 10px;
}
aside .filters .filter_block ul {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
aside .filters .filter_block:last-of-type ul {
	border: none;
}
aside .filters .filter_block label {
	color: #8f8f8f;
}
aside .filters .filter_block label:hover {
	color: inherit;
}
aside .filters .filter_block .mdl-checkbox__label {
	font-size: inherit;
}

/*News*/

aside .news {
	padding: 20px 10px;
	overflow: hidden;
	color: #9e9e9e;
}
aside .news h4 {
	margin: 0;
	color: #757575;
	font-size: 1.429em;
}
aside .news .news_title {
	font-size: 1.071em;
}
aside .news .published_date {
	font-size: 0.857em;
	margin-bottom: 15px;
}
aside .news .dl {
	margin-bottom: 10px;
}
aside .news .dl p img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}

/*When LeftSidebar Hidden*/

aside#catalog {
    z-index: 100;
	left: -360px;
	height: calc(100% - 72px);
}
aside#catalog.opened {
	left: 0;
}
aside#catalog .catalog_close {
	width: 50px;
    height: 50px;
    position: absolute;
    top: 19px;
    left: 100%;
    background: #F5F5F5;
    border: 1px solid #e0e0e0;
    border-left: none;
    cursor: pointer;
}
aside#catalog .catalog_close i {
	line-height: 50px;
    padding: 0 13px;
    color: #bdbdbd;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
aside#catalog .catalog_close:hover i {
	color: inherit;
	position: absolute;
	transform: scale(1.25);
}

/*CONTENT*/

.content {
	padding-left: 30px;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}

/*Statistics*/

.stat_year {
	padding: 0 0 10px 10px;
	border: 1px solid #e0e0e0;
}
.stat_year .stat_info {
	max-width: 100px;
	padding-right: 10px;
    float: left;
}
.stat_year .stat_info p {
	padding-top: 8px;
	font-weight: bold;
}
.stat_year .stat_info ul {
	margin-top: 15px;
}
.stat_year .stat_info ul li {
	line-height: 15px;
	margin-bottom: 30px;
}
.stat_year .stat_info ul li:last-child {
	margin-bottom: 0;
}
.stat_year .graph_block {
	width: calc(100% - 110px);
    float: right;
}
.stat_year .stat_title p {
	display: inline-block;
	margin-left: 100px;
    padding-top: 8px;
    padding-bottom: 30px;
}
.stat_year .stat_title p span {
	display: inline-block;
    margin-right: 5px;
}
.stat_year .stat_title p.mopt_demand span {
    height: 10px;
    width: 30px;
    background: #bdbdbd;
}
.stat_year .stat_title p.opt_demand span {
	height: 5px;
    width: 30px;
    background: #03FF00;
    vertical-align: middle;
}
.stat_year .график {
	width: 100%;
	/*width: 864px;*/
	height: 93px;
	background: url('../images/statistics.jpg') 0% 100%;
}

.stat_month {
	/*margin-left: 40px;*/
}
.stat_month ul {
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	box-sizing: border-box;
	overflow: hidden;
	display: table;
	width: 100%;
}
.stat_month ul li {
	background: #fff;
	border-right: 1px solid #e0e0e0;
	color: #bdbdbd;
	display: table-cell;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.stat_month ul li:hover,
.stat_month ul li.active {
	color: inherit;
}
.stat_month ul li:hover:after,
.stat_month ul li.active:after {
	content: '';
	height: 1px;
	width: 100%;
	background: #343030;
	position: absolute;
    bottom: 0;
    left: 0px;
}
.stat_month ul li:last-child {
	border-right: none;
}

/*Content header*/

.content_header {
	padding-top: 10px;
	padding-right: 10px;
}
.content_header .sort {
	position: relative;
	float: left;
}
.content_header .sort .mdl-button {
	font-size: 0.929em;
	color: #bdbdbd;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 0;
    line-height: 24px;
    height: 24px;
}
.content_header .sort .mdl-button:hover,
.content_header .sort .mdl-button:active {
	background-color: transparent;
}
.content_header .sort .selected_sort {
	display: inline-block;
    padding: 0 5px;
    max-width: 129px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content_header .sort [for="sort-lower-left"] li {
	line-height: 30px;
    height: 30px;
}
.content_header .cart_info {
	float: right;
	position: relative;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 5px;
	-webkit-transition: all .3s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .3s cubic-bezier(.4, 0, .2, 1);
	transition: all .3s cubic-bezier(.4, 0, .2, 1);
}
.content_header:hover .cart_info {
	border-color: #FF5722;
}

.content_header .cart_info .your_discount,
.content_header .cart_info .tabs_container,
.content_header .cart_info .order_balance {
	margin-right: 20px;
	float: left;
}
#cart .tabs_container ul,
.content_header .cart_info .tabs_container ul {
	overflow: hidden;
	font-size: 0;
}
#cart .tabs_container ul li,
.content_header .cart_info .tabs_container ul li {
	display: inline-block;
	font-size: 14px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 0 5px;
	box-sizing: border-box;
	line-height: 20px;
	color: #c1c1c1;
	cursor: pointer;
	text-align: center;
}
#cart .tabs_container ul li:hover,
#cart .tabs_container ul li.active,
.content_header .cart_info .tabs_container ul li:hover,
.content_header .cart_info .tabs_container ul li.active {
	border-color: #FF5722;
	color: inherit;
}
#cart .tabs_container .in_cart_block,
.content_header .cart_info .tabs_container .in_cart_block {
	border-color: #FF5722;
	color: inherit;
	position: relative;
	margin-right: 26px;
}
#cart .tabs_container .in_cart_block a,
.content_header .cart_info .tabs_container .in_cart_block a {
	font-weight: normal;
	color: inherit;
}
#cart .tabs_container .in_cart_block a span,
.content_header .cart_info .tabs_container .in_cart_block a span {
	font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: -1px;
    left: 99%;
    background: #FF5722;
    color: #fff;
    border: 1px solid #FF5722;
    border-radius: 0 3px 3px 0;
    padding-left: 5px;
    padding-right: 5px;
}
.content_header .cart_info .price_nav {
	width: 24px;
	height: 12px;
	position: absolute;
	top: 100%;
}
.content_header .cart_info .price_nav:before {
	content: '';
	position: absolute;
	display: block;
	/*top: 100%;*/
	/*left: 165px;*/
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgba(190,190,190,.4);
	-webkit-transition: all .5s cubic-bezier(.4, 0, .2, 1);
	-o-transition: all .5s cubic-bezier(.4, 0, .2, 1);
	transition: all .5s cubic-bezier(.4, 0, .2, 1);
}
.content_header .cart_info .price_nav:after {
	content: '';
	/*top: 100%;*/
	left: 2px;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}
.content_header:hover .cart_info .price_nav:before {
	border-top-color: rgba(285,87,34,1);
}

/*Producs*/

.products {
	padding-bottom: 30px;
}
.products .card {
	margin-top: 15px;
	padding: 5px 10px;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.products .card:first-of-type {
	margin-top: 15px;
}
.products .product_name,
.products .product_info {
	float: left;
	width: calc( 60% - 120px);
}
.products .product_buy {
	float: left;
	width: 40%;
	display: flex;
    justify-content: space-around;
}
#cart .card .product_photo,
.products .card .product_photo {
	position: relative;
	height: 100px;
	width: 100px;
	float: left;
	padding-right: 20px;
	padding-top: 2px;
}
#cart .card .product_photo a,
.products .card .product_photo a {
	display: block;
}
#cart .card .product_photo a img,
.products .card .product_photo a img {
	display: block;
	max-height: 100px;
	max-width: 100%;
	padding: 12px 0;
}
.products .card .product_name {
	padding-top: 10px;
}
#cart .product_name a,
.products .card .product_name a {
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	max-height: 30px;
	overflow: hidden;
}
#cart .product_name a:hover,
.products .card .product_name a:hover {
	text-decoration: underline;
}
#cart .product_article,
.products .card .product_article {
	/*float: left;*/
	font-size: 0.929em;
	color: #818181;
	white-space: nowrap;
	/*line-height: 30px;*/
	/*margin-right: 20px;*/
	padding-left: 10px;
	vertical-align: top;
}
.product_buy .mdl-button {
	height: 25px;
	padding: 0 10px;
	line-height: normal;
	min-width: 46px;
}
.product_buy {
	margin-top: 40px;
	margin-bottom: 10px;
}
.product_buy .price {
	font-weight: 500;
	font-size: 1.429em;
	float: left;
	width: 30%;
	line-height: 25px;
	text-align: center;
}
.product_buy .buy_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 70%;
	max-width: 250px;
}
.product_buy .buy_block .btn_remove {
	position: relative;
	width: 46px;
}
.product_buy .buy_block .btn_remove:after {
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
	height: 10px;
}
.product_buy .buy_block .btn_remove:before {
	content: '';
	position: absolute;
	bottom: 100%;
	width: 100%;
	height: 10px;
}
.product_buy .buy_block .btn_remove button {
	position: absolute;
	top: 0;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.product_buy .buy_block .btn_remove:hover button {
	position: absolute;
	top: -10px;
	height: 46px;
	z-index: 1;
}
.product_buy .buy_block .qty_js {
	text-align: center;
	width: 50px;
	padding: 5px;
	vertical-align: middle;
}
.product_buy .buy_block .btn_buy {
	width: 92px;
	position: relative;
}
.product_buy .buy_block .btn_buy:after {
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
	height: 18px;
}
.product_buy .buy_block .btn_buy:before {
	content: '';
	position: absolute;
	bottom: 100%;
	width: 100%;
	height: 18px;
}
.product_buy .buy_block .buy_btn_js {
	font-size: 1.071em;
	border-radius: 3px;
	position: absolute;
	top: 0;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
	-o-transition: all .4s cubic-bezier(.4,0,.2,1);
	transition: all .4s cubic-bezier(.4,0,.2,1);
}
.product_buy .buy_block .btn_buy:hover .buy_btn_js {
	padding: 0 20px;
    position: absolute;
    top: -18px;
    height: 62px;
    z-index: 1;
}
.products .card:hover .buy_btn_js {
	/*background-color: #ff8a65;
	border-color: #ff8a65;
	color: #fff;*/
	background-color: #FFCCBC;
	border-color: #FFCCBC;
}
.product_buy .buy_block .buy_btn_js:active {
	background-color: #FF5722;
	border-color: #FF5722;
	color: #fff;
}
#cart .note,
.products .note {
	position: relative;
	float: left;
	width: 100%;
    max-width: 350px;
    visibility: hidden;
}
#cart .note.in_cart,
.products .note.in_cart {
	visibility: visible;
}
#cart .note textarea,
.products .note textarea {
	width: 100%;
	height: 30px;
	resize: vertical;
	outline: none;
	padding: 5px;
	padding-right: 22px;
	box-sizing: border-box;
	float: left;
}
#cart .note textarea.required::-webkit-input-placeholder,
.products .note textarea.required::-webkit-input-placeholder {color:#EF5350;}
#cart .note textarea.required::-moz-placeholder,
.products .note textarea.required::-moz-placeholder          {color:#EF5350;}/* Firefox 19+ */
#cart .note textarea.required:-moz-placeholder,
.products .note textarea.required:-moz-placeholder           {color:#EF5350;}/* Firefox 18- */
#cart .note textarea.required:-ms-input-placeholder,
.products .note textarea.required:-ms-input-placeholder      {color:#EF5350;}
#cart .info_key,
.products .info_key {
	top: 14px;
}

.show_more {
	text-align: center;
	font-size: 1.429em;
	padding-bottom: 30px;
}

/*TABLET*/

@media (min-width: 728px) and (max-width: 1169px) {

	aside {
		width: 260px;
	}
	section.center {
		width:calc(100% - 260px);
	}
	#cart .card .product_photo {
		padding-right: 5px;
	}
	#cart .product_buy .buy_block {
		min-width: 185px;
	}
	#cart .product_buy .summ {
		right: 0;
	}
	#cart .action_block .wrapp {
		width: 305px;
	}
	#cart .action_block .wrapp:first-of-type {
		padding-left: 0;
	}
	#cart .action_block .wrapp:last-of-type {
		padding-right: 0;
	}
	#cart .action_block .mdl-textfield {
		margin-top: 45px;
    	max-width: 250px;
	}
	.stat_year {
		padding: 0;
		padding-bottom: 10px;
	}
	.stat_month {
		margin: 0;
	}
	.content_header .sort {
		width: 30%
	}
	.content_header .cart_info {
		width: 70%;
	}
	.content {
		padding: 0 5px;
	}
	.products .product_name,
	.products .product_info {
		width: auto;
		width: calc(100% - 120px);
	}
	.products .card .product_name {
		padding-top: 0;
	}
	.product_buy .buy_block {
		float: right;
		min-width: 210px;
	}
	.products .product_buy {
		margin-top: 10px;
		/*width: calc(100% - 120px);*/
		width: auto;
		max-width: 335px;
		float: right;
	}
	.product_buy .price {
		min-width: 90px;
	}
	.product_buy .buy_block .btn_remove {
		width: auto;
	}
	.product_buy .buy_block .btn_remove button {
		position: static;
	}
	.product_buy .buy_block .btn_remove:hover button {
		position: static;
		top: auto;
		height: 25px;
	}
	.product_buy .buy_block .btn_buy {
		width: auto;
	}
	.product_buy .buy_block .buy_btn_js {
		position: static;
	}
	.product_buy .buy_block .btn_buy:hover .buy_btn_js {
		padding: 0 10px;
	    position: static;
	    top: auto;
	    line-height: normal;
	    height: 25px;
	}
}

/*PHONE*/

@media (max-width: 727px) {

	#cart {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    transform: none;
	    max-height: 100%;
	    max-width: 100%;
	    box-sizing: border-box;
	    padding: 25px 0;
	}
	#cart .card {
		position: relative;
		margin-top: 30px;
		padding: 5px;
		box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	}
	/*#cart .card:first-of-type {
		margin-top: 15px;
	}*/
	#cart .remove_prod_mob {
		display: block;
		cursor: pointer;
		background: #F3F3F3;
		position: absolute;
	    bottom: 100%;
	    left: 10px;
	    border: 1px solid #e0e0e0;
	    border-radius: 3px 3px 0 0;
	    box-sizing: border-box;
	    padding: 2px 10px;
	    line-height: 15px;
	}
	#cart .card .product_photo {
		padding: 0 !important;
		padding-right: 10px !important;
	}
	#cart .action_block .wrapp {
		width: 98%;
		max-width: 340px;
		margin: 0 auto;
		float: none;
	}
	#cart .action_block .wrapp:first-of-type {
		padding-left: 0;
	}
	#cart .action_block .wrapp:last-of-type {
		padding-right: 0;
	}
	#cart .total div {
		min-width: auto;
		padding: 0 5px;
	}
	#cart .action_block .mdl-textfield {
    	max-width: 250px;
	}
	#cart .card .product_info {
		float: none;
		width: auto;
	}
	#cart .card .product_photo {
		padding-right: 10px;
	}
	#cart .card .product_name {
		padding-top: 0;
		width: calc( 100% - 110px);
		float: left;
	}
	#cart .card .product_buy {
		float: left;
    	width: calc(100% - 110px);
    	margin-top: 0;
    	margin-bottom: 0;
    	display: block;
	}
	#cart .product_buy .summ {
		position: static;
		margin: 5px 0;
		text-align: right;
	}
	#cart .product_info {
		clear: both;
	}
	#cart .note {
		padding-top: 10px;
		clear: both;
		float: none;
		max-width: none;
		width: 100%;
		display: none;
	}
	#cart .note.in_cart {
		display: block;
	}
	#cart .info_key {
		top: 24px;
	}
	.phone_menu {
		display: block;
		color: #9e9e9e;
		float: right;
		max-height: 24px;
	}
	.panel ul.phone_nav_contacts li {
		font-size: 15px;
	}
	.panel ul.phone_nav_contacts li {
	    line-height: 20px;
	}
	.phone_menu .cart {
		margin-left: 10px;
	}
	.phone_menu .cart.mdl-badge {
		margin-right: 10px;
	}
	.phone_menu .cart.mdl-badge[data-badge]:after {
		top: -6px;
		right: -8px;
		font-size: 11px;
		font-weight: 400;
		width: 20px;
		height: 20px;
	}
	.owl-carousel .owl-controls .owl-buttons div {
		width: 50px;
	}
	.owl-carousel .owl-controls .owl-buttons div svg {
		height: 100px;
		width: 50px;
		stroke-width:10;
	}
	/*.banner img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}*/
	.content {
		padding: 0;
	}
	.products .card {
		margin: 20px 5px 0;
		padding: 5px;
		padding-bottom: 10px;
	}
	.products .product_name,
	.products .product_info {
		float: none;
		width: auto;
	}
	.products .card .product_photo {
		padding-right: 10px;
	}
	.products .card .product_name {
		padding-top: 0;
		width: calc( 100% - 110px);
		float: left;
	}
	.products .product_buy {
		float: left;
    	width: calc(100% - 110px);
    	margin-top: 0;
    	margin-bottom: 0;
    	display: block;
	}
	.product_buy .price {
		margin: 10px 0;
		float: none;
		width: auto;
		line-height: 16px;
		text-align: left;
	}
	.products .buy_block {
		max-width: 200px;
		width: auto;
		justify-content: space-between;
	}
	.product_buy .buy_block .btn_remove {
		width: auto;
	}
	.product_buy .buy_block .btn_remove button {
		position: static;
	}
	.product_buy .buy_block .btn_remove:hover button {
		position: static;
		top: auto;
		height: 25px;
	}
	.product_buy .buy_block .btn_buy {
		width: auto;
	}
	.product_buy .buy_block .buy_btn_js {
		position: static;
	}
	.products .card .btn_buy:hover .buy_btn_js {
		padding: 0 10px;
	    position: static;
	    top: auto;
	    line-height: normal;
	    height: 25px;
	}
	/*.products .card .product_article {
		text-align: right;
		float: none;
		line-height: 14px;
		margin-right: 0;
	}*/
	.products .product_info {
		clear: both;
	}
	.products .note {
		padding-top: 10px;
		clear: both;
		float: none;
		max-width: none;
		width: 100%;
		display: none;
	}
	.products .note.in_cart {
		display: block;
	}
	.products .info_key {
		top: 50%;
	}
}

/*MATERIAL UPGRADE*/

.mdl-checkbox__box-outline {
	border: 1px solid #8f8f8f;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline,
.mdl-radio.is-checked .mdl-radio__outer-circle {
	border: 2px solid #FF5722;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
.mdl-radio__inner-circle {
	background: #FF5722;
}
.mdl-textfield__label:after {
	background-color: #757575;
	/*border-bottom: 1px solid transparent;*/
}
.mdl-checkbox__ripple-container .mdl-ripple,
.mdl-radio__ripple-container .mdl-ripple {
    background: rgb(255, 87, 34);
}
.mdl-button {
	text-transform: none;
	border: 1px solid #e0e0e0;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
}
.mdl-mega-footer {
	padding: 0;
	color: inherit;
}
.mdl-badge[data-badge]:after {
	background:#9e9e9e;
}
.mdl-badge[data-badge].active:after {
	background: #FF5722;
}
.product_page .mdl-grid {
	padding: 0;
}
.product_page .mdl-cell--6-col {
	margin: 0;
}
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
	background: #9E9E9E;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
	background: #fff;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
	background-color: #757575;
}

@media (max-width: 727px) {
	.product_page .mdl-cell--6-col {
    	width: 100%;
	}
	.main .center {
		width: 100%;
	}
}
@media (min-width: 728px) and (max-width: 1169px) {
	.product_page .mdl-cell--4-col-tablet {
    	width: 50%;
	}
}
@media (min-width: 1170px) {
	.product_page .mdl-cell--6-col {
    	width: 50%;
	}
}