#content .section_title {
	font-size: 15px;
	padding: .5em;
	background: #fafafa;
	border-bottom: 1px solid #d7d7d7;
	font-weight: bold;
}
#content .section {
	padding: 0 .5em;
	margin: .5em 0 1em;
}

/* Страница "Контакты" ===================================================== */

#content .contacts .table {
	width: 100%;
}
#content .contacts .section_title .secondary_table {
	text-align: left;
	padding-left: .5em;
}
#content .contacts .section_title .secondary_table {
	width: 30%;
}
#content .contacts .subsection_title {
	padding: .5em 0;
	font-weight: bold;
}
#content .contacts table.secondary_table tr th {
	text-align: left;
}
#content .contacts table.secondary_table tr td {
	padding: 1em 15px;
	text-align: left;
}
#content .contacts ul {
	margin-left: 30px;
}

/* Страница "Скидки" ======================================================= */

#content .price_rules section {
	margin-bottom: 30px;	
}
#content .price_rules p {
	padding: .5em;
}
#content .price_rules ul {
	margin-left: 30px;
}

/* Страница "Стать дилером" ================================================ */


/* Страница "Вопросы" ====================================================== */

#content .faq img {
	width: 100%;
}

/* Страница "Оплата" ======================================================= */

#content .payments .modal_opened {
	width: 54em;
}
#content .payments .payment_item .payment_ol {
	text-align: left;
	padding-left: 15px; 
	list-style: decimal;
}
#content .payments .payment_item .payment_ul {
	text-align: left;
	padding-left: 5px; 
	list-style: none;
}
#content .payments .payment_item .payment_ul>li:before {
	content: "-";
	margin-right: 5px;
}
#content .payments .payment_item .requisites {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}
#content .payments .payment_border {
	border-right: 2px solid #d9d9d9;
}
@media (max-width: 992px) {
	#content .payments .payment_border {
		border-right: none;
	}
	#content .payments .product_description {
		margin-top: 20px;
	}
}
#content .payments .tab_item_header {
	display: block;
	font-size: 17px;
}
#content .payments .tab_item_label {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
#content .payments .payment_item {
	padding: 10px 0;
	border-bottom: 1px solid #d9d9d9;
}
#content .payments .payment_item img {
	float: left;
	width: 17%;
	max-width: 100px;
}
#content .payments .payment_item .payment_item_descr {
	padding-left: 10px;
	width: 83%;
	float: left;
}
#content .payments .color-red {
	color: #ff2626 !important;
}
#content .payments .payment_item .payment_item_descr table tr td  {
	padding-top: 5px;
}

/* Страница "Доставка" ===================================================== */

#content .delivery .modal_opened {
	width: 54em;
}
@media (max-width: 992px) {
	#content .delivery .product_description {
		margin-top: 20px;
	}
}
#content .delivery .tab_item_header {
	display: block;
	font-size: 17px;
}
#content .delivery .tab_item_label {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
#content .delivery .delivery_wrapper {
	margin-top: 10px;
	text-align: justify;
}
#content .delivery .delivery_wrapper .tab_item_label {
	margin: 20px 0 10px 0;
}
#content .delivery .delivery_wrapper .color-red {
	margin: 10px 0 20px 0;
	display: block;
}
#content .delivery .delivery_items_wrapper {
	margin: 30px 0;
}
#content .delivery .delivery_item {
	padding: 5px 30px;
	text-align: center;
	width: 20%;
	min-height: 110px;
	border-right: 1px solid #d9d9d9;
	float: left;
}
@media (max-width: 870px) {
	#content .delivery .delivery_item {
		font-size: 1.3em;
		border-right: none;
		padding: 20px 30px;
		border-bottom: 1px solid #d9d9d9;
		width: 100%;
	}
}
#content .delivery .delivery_item:last-child {
	border: none;
}
#content .delivery .delivery_item .img_block {
	height: 70px;
}
#content .delivery .delivery_item:nth-child(2) .img_block {
	height: 52px;
}
@media (min-width: 1605px) {
	#content .delivery .delivery_item:nth-child(2) .img_block {
		height: 70px;
	}
}
#content .delivery .delivery_item img {
	display: block;
	margin: 0 auto;
}
#content .delivery .delivery_item span {
	display: block;	
}
#content .delivery .section img {
	width: 100%;
}

/* Страница "Стать дилером" ================================================ */
