.remind_overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0, #D9D9D9),
		color-stop(0.5, #F2F2F2),
		color-stop(1, #D9D9D9)
	);
	background-image: -o-linear-gradient(left bottom, #D9D9D9 0%, #F2F2F2 50%, #D9D9D9 100%);
	background-image: -moz-linear-gradient(left bottom, #D9D9D9 0%, #F2F2F2 50%, #D9D9D9 100%);
	background-image: -webkit-linear-gradient(left bottom, #D9D9D9 0%, #F2F2F2 50%, #D9D9D9 100%);
	background-image: -ms-linear-gradient(left bottom, #D9D9D9 0%, #F2F2F2 50%, #D9D9D9 100%);
	background-image: linear-gradient(to left bottom, #D9D9D9 0%, #F2F2F2 50%, #D9D9D9 100%);
}
section.remind {
	width: 350px;
	background: #fff;
	display: block;
	position: fixed;
	left: 50%;
	margin-left: -151px;
	top: 50%;
	margin-top: -100px;
	padding: 20px;
	border-radius: 5px;
	z-index: 1000;
	box-shadow: 0 1px 5px rgba(0,0,0,.15), inset 0 0 60px rgba(0,0,0,.07);
	border: 1px solid #fff;
}
section.remind h1 {
	color: #444;
	font-size: 16px;
	text-align: center;
}
section.remind form {
	padding: 0 20px;
	text-align: center;
}
section.remind form label {
	line-height: 25px;
	float: left;
	margin: 5px 0;
}
section.remind form input[type="text"] {
	width: 75%;
	float: right;
	outline: none;
    line-height: 25px;
    border: 1px solid #b4b4b4;
    padding: 0 5px;
    margin: 5px 0;
    border-radius: 3px;
}
section.remind form input[type="text"]:focus {
	border-color: #52cf55;
}
section.remind form button {
	margin-top: 10px;
}
section.remind .backlink {
	font-size: 12px;
}