#catae .refresh_btn {
	display: block;
	float: left;
	margin: 0 5px 0;
	background: url('../../../images/kharkov/refresh.png') no-repeat;
	width: 20px;
	height: 20px;
}

#sid {
	width:285px;
	float: left;
	margin-right: 10px;
}