#catae .refresh_btn {
	display: block;
	float: left;
	margin: 0 5px;
	background: url('../../../images/kharkov/refresh.png') no-repeat;
	height: 20px;
	font-size: 1.5em;
	color: #444;
}
#catae .refresh_btn:hover {
	text-decoration: none;
}
#sid {
	width:285px;
	float: left;
	margin-right: 10px;
}
#catae .image_block_new {
	width: 120px;
}
#catae .image_block {
	position: absolute;
	top: 0;
	left: 0;
}
#catae .image_block .icon-font {
	position: absolute;
	bottom: 0;
	right: 0;
}