.content {
	min-height: 500px;
}

#second_navigation {
	overflow: hidden;
	margin-bottom: 20px;
}
.tabs-panel h2 {
	border-bottom: 3px solid #00AFF0;
}
.ui-tabs-vertical {
	display: block !important;
	clear: both;
}
#second_navigation ul {
	width: 20%;
	padding-right: 20px;
	float: left;
	padding-bottom: 20px;
}
.ui-tabs-panel {
	width: 80%;
	float: right;
	padding-bottom: 20px;
}
#second_navigation ul li a {
	outline: none;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
#second_navigation ul a.active {
	color: #fff;
	background-color: #00aff0;
	border-color: #00aff0;
}

.content {
	min-height: 500px;
}
#unload_option ul {
	text-align: left;
}
#unload_option li {
	line-height: 1.5em;
}
#unload_option li a.clicked {
	color: #aaa;
	text-decoration: line-through;
}
span.gray {
	color: #aaa;
	font-style: italic;
}