#newsae .wa {
	width: auto;
}
#newsae .vam {
	vertical-align: middle;
}
#newsae p {
	margin-top: 20px;
}
#newsae #form_subm1it {
	margin: 20px .5em;
}
.blue-line{
	border-bottom: 3px solid #00AFF0;
}
#nav_visible {
	margin-top: 1em;
}
