/* Photograph page styles */
.create_product {
	margin-top: 20px;
}
.supplier, .prodName, .submit, .video_upload {	
	float: left;
	margin-bottom: 20px;
}
.supplier {
	width: 270px;
}
.submit {	
	padding: 0;
}
.prodName, .video_upload {
	width: 360px;
}
.previews { 
	height: 135px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	overflow-x: scroll;
}
.images_block {
	clear: both;
	display: flex;
	overflow-x: auto;
	padding: 10px;
	margin-bottom: 20px;
}
.image_block {
	margin-right: 10px;
}
.images_block img {
	height: 120px;
	width: 120px;
}
.images_block .image:hover {
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.5);
}
.images_block .imgopacity,
.prodList .imgopacity {
	opacity: 0.2;
}
.image_block_new {
	max-height: 205px;
}
.images_block .image_block .name {
	width: 120px;
	overflow: hidden;
}
.images_block .image {
	width: 120px;
	height: 120px;  
	position: relative;
}
.images_block .del_photo_js,
.images_block .hide_photo_js {
	position: absolute; 
	right: 5px;
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 20px;	
	cursor: pointer;
}
.images_block .del_photo_js {
	top: 5px;
	color: red;
}
.images_block .hide_photo_js {
	bottom: 5px;
	color: green;
}
.image_block_new {
	clear: both;
	width: calc(100% - 20px);
	height: auto;
	border: 1px dashed #bbbbbb;
	box-sizing: border-box;
	margin: 10px;
	color: #ccc;
	cursor: pointer;
	padding: 20px;
}
.image_block_new .dz-message {
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}
.image_block_new:hover {
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Стили для списка оформленных товаров */

.prodListItem {
	border-top: 1px solid #bbbbbb;
	padding-top: 5px;
    padding-bottom: 5px;
}
.nameProd, .createData {
	margin-bottom: 5px;
}
.nameProd span:first-child,
.createData span:first-child {
	font-weight: bold;
}
.nameProd a,
.createData a {
	font-weight: bold;
	color: #444;
}
.prodImages {
	display: flex;
    overflow-x: auto;
	height: 125px;
}
.prodImages img {
	height: 100px;
	width: 100px;
	margin-right: 10px;
	flex-shrink: 0;
}
.errName {
	border: 1px solid red;
} 
.video_upload {
	clear: both;
	margin-left: 15px;
}
.video_list li {
	list-style-type: decimal;
	margin-top: 5px;
	margin-bottom: 5px;
}
.video_list li input {
	width: 240px;
}
.add_video {
	color: #2E62CF;
}
.add_video:hover {	
	cursor: pointer;
}