/* Photograph page styles */
.create_product {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0;
	position: relative;
	background: #ffefbe;
}
.create_product h3 {
	font-size: 1.5em;
}
.supplier, .prodName, .submit, .video_upload {	
	/*float: left;*/
	margin-top: 10px;
}
.previews { 
	height: 135px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	overflow-x: scroll;
}
.images_block {
	display: flex;
	overflow-x: auto;
}
.image_block {
	margin-right: 10px;
	margin-top: 10px;
}
.images_block img {
	height: 90px;
	width: 120px;
}
.images_block .image {
	width: 120px;
	height: 120px;  
	position: relative;
	background: #fff;
	-webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
    -o-transition: all .4s cubic-bezier(.4,0,.2,1);
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.images_block .image:hover {
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.2);
}
.images_block .imgopacity,
.prodList .imgopacity {
	opacity: 0.2;
}
.image_block_new {
	max-height: 205px;
	background: #fff;
}
.images_block .image_block .name,
.prodList .prodListItem .name {
	width: 120px;
	overflow: hidden;
	text-align: center;
	padding: 5px 0;
}
.prodList .prodListItem .name {
	clear: both;
    float: left;
}
.prodList .prodListItem a {
	margin-right: 10px;
}
.prodList .prodListItem a:hover {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.prodList .prodListItem a img {
	float: left;
	margin-left: 10px;
}
.images_block .del_photo_js,
.images_block .hide_photo_js {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	margin-top: -3px;
}
.images_block .del_photo_js {
	color: red;
}
.images_block .hide_photo_js {
	color: green;
}
.images_block .del_photo_js:hover,
.images_block .hide_photo_js:hover {
	background: #e0e0e0;
}
.image_block_new {
	clear: both;
	height: auto;
	border: 1px dashed #bbbbbb;
	box-sizing: border-box;
	color: #ccc;
	cursor: pointer;
	padding: 20px;
	margin-top: 10px;
}
.image_block_new .dz-message {
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}
.image_block_new:hover {
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.2);
}
.upload_message {	
    color: #fff;
    background: #f44336;
    width: 280px;    
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    line-height: 24px;
}
/* Стили для списка оформленных товаров */
.prodListItem {
	border-top: 1px solid #bbbbbb;
	padding-top: 5px;
    padding-bottom: 5px;
}
.nameProd, .createData {
	margin-bottom: 5px;
}
.nameProd span:first-child,
.createData span:first-child {
	font-weight: bold;
}
.nameProd a,
.createData a {
	font-weight: bold;
	color: #444;
}
.prodImages {
	display: flex;
    overflow-x: auto;
	height: 110px;
}
.prodVideos {
	display: flex;
    overflow-x: auto;
	height: 150px;
}
.prodImages img {
	max-height: 90px;
	width: 120px;
	margin-right: 10px;
	flex-shrink: 0;
}
.prodVideos img {
	height: 100px;
	width: 100px;
	margin-right: 10px;
	flex-shrink: 0;
}
.errName {
	border: 1px solid red;
}
.video_list {
	list-style: decimal;
}
.video_list li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
.video_list li input {
	width: 240px;
}
.add_video {
	color: #2E62CF;
}
.add_video:hover {	
	cursor: pointer;
}