/*GLOBAL =====================================================================*/

.dz-success {
	background: #EEFFF8 !important;
}
.compulsory {
	border: 1px solid #f00;
}
#productae {
	background: #fff;
}
#productae p {
	padding-bottom: 3px;
	font-weight: bold;
}
.fixed_head {
    position: fixed;
    top: 29px;
    z-index: 100;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#productae .prod_head {
	overflow: hidden;
	background: #fff;
	padding: 5px;
}
#productae .prod_head * {
	display: inline-block;
	margin-right: 10px;
}
#productae .prod_head *:last-child {
    margin-right: 0;
}
#productae .head_block {
	position: relative;
}
#productae .head_block .article {
	display: block;
	font-size: 15px;
    line-height: 30px;
}
#productae .head_block .product_name {
	display: none;
}
#productae .product_view {
	margin-top: 2px;
}
#productae .prod_head.fixed_head .product_name {
	display: block;
}
#productae .prod_head.fixed_head .article {
	line-height: 15px;
	font-size: 13px;
}

/*Second Navigation ==========================================================*/

#second_navigation {
	/*display: none;*/
	overflow: hidden;
	margin-bottom: 20px;
}
.second_nav_menu {
	position: relative;
	width: 20%;
	padding-right: 20px;
	float: left;
	padding-bottom: 20px;
}
.nav {
	position: relative;
}
.nav li a {
	outline: none;
	text-decoration: none;
	display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nav li.active a {
	color: #fff;
    background-color: #00aff0;
    border-color: #00aff0;
}
.tabs-panel {
	width: 80%;
	float: right;
	padding-bottom: 20px;
}
.tabs-panel div[id^='nav_'] {
	padding-top: 70px;
}
.tabs-panel div[id^='nav_']:first-of-type {
	padding-top: 0;
}
.tabs-panel h2 {
	border-bottom: 3px solid #00AFF0;
}

/*.ui-tabs-vertical {
	display: block !important;
	clear: both;
}
.ui-tabs-nav {
	width: 20%;
	padding-right: 20px;
	float: left;
	padding-bottom: 20px;
}
.ui-tabs-panel {
	width: 80%;
	float: right;
	padding-bottom: 20px;
}
.ui-tabs-vertical .ui-tabs-nav li a {
	outline: none;
	text-decoration: none;
	display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ui-tabs-vertical .ui-tabs-nav .ui-tabs-active a {
	color: #fff;
    background-color: #00aff0;
    border-color: #00aff0;
}*/
.main_photo {
	padding: 10px 0;
}
.main_photo img {
	display: block;
	margin: 0 auto;
    max-height: 200px;
    max-width: 100%
}


/*Section SEO ================================================================*/

#productae #translit {
	margin: 0;
}
#productae #translit label {
	color: #000;
}
#productae #translit p {
	float: left;
}
#productae .refresh_btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 0 5px;
	font-weight: bold;
    font-size: 17px;
    color: #989898;
}

/*Section Category and connection ============================================*/

#productae #addlink {
	margin-top: 10px;
}
#productae #addlink a.dashed  {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	text-decoration: none;
}
#productae #addlink a.dashed:hover {
	text-decoration: none !important;
	border-bottom-style: none;
}
.sup_notation {
	color: #f00;
	position: absolute;
	padding-top: 2px;
    left: 50px;
}
#nav_connection .supplier select,
#nav_connection .supplier input[type="text"],
#nav_connection .supplier input[type="number"] {
	width: 100%;
}
#nav_connection .supplier td > input {
	margin-top: 17px;
}

#nav_connection .supplier .select_price {
	width: 20%;
}
#nav_connection .supplier .price {
	margin-left: 7px;
	width: 36%;
}
#nav_connection .supplier .select_price label,
#nav_connection .supplier .price label {
	padding-top: 0;
	text-align: center;
}
#nav_connection .supplier .icon-font {
	font-size: 15px;
	cursor: pointer;
	padding: 10px;
}
#nav_connection .supplier .icon-font:hover {
	color: #f00;
}
#nav_connection .add_supplier tr:hover {
	background: none;
}
#nav_connection .add_supplier td {
	position: relative;
	padding-bottom: 20px;
}
#nav_connection .add_supplier td > input,
#nav_connection .add_supplier td > select,
#nav_connection .add_supplier td > button {
	margin-top: 17px;
}
#nav_connection .add_supplier label {
	padding-top: 0;
}
#nav_connection .add_supplier .select_price {
	width: 20%;
}
#nav_connection .add_supplier .price {
	margin-left: 7px;
	position: relative;
	width: 36%;
}
#nav_connection .add_supplier .select_price label,
#nav_connection .add_supplier .price label {
	text-align: center;
}
#nav_connection #sup_inusd {
	width: 100%;
	max-width: 100%;
	text-align: center;
}
#nav_connection #sup_price_opt,
#nav_connection #sup_price_mopt {
	width: 100%;
	max-width: 100%;
}

#nav_connection #add_segment,
#nav_connection #segment_list {
	min-width: 150px;
}
#nav_connection .del_segment {
	padding: 10px;
	cursor: pointer;
}
#nav_connection .del_segment:hover {
	color: red;
}

/*Section Product content ====================================================*/

#productae .units_input {
	width: 100px;
	margin-bottom: 1px;
}
#productae .select_unit {
	width: 285px;
}
/*Section Delivery ===========================================================*/

#nav_delivery .fl {
	margin-right: 10px;
}
#nav_delivery .weight span {
	font-weight: normal;
}

/*Section Information ========================================================*/

#productae .edition {
	margin: 10px 0;
}

/*Section Comment ============================================================*/

#nav_comment .list tbody td.actions a {
	cursor: pointer;
	color: #444;
	font-size: 18px;
}
#nav_comment .list tbody td.actions a:hover {
	color: #f00;
}

/*Section Product, Photo, Video ==============================================*/

#productae #preview1,
#productae #preview2,
#productae #preview3 {
	height: 70px;
	display: block;
	text-align: left;
	vertical-align: middle;
	padding: 5px 0 5px 5px;
}
#productae #preview1 input,
#productae #preview2 input,
#productae #preview3 input {
	margin-top: 13px;
}
#photobox {
	position: relative;
	clear: both;
	min-height: 50px;
	width: 100%;
}
#photobox .previews {
	margin-bottom: 5px;
}
#photobox .image_block,
#photobox .ui-sortable-placeholder,
#photobox .image_block_new {
	position: relative;
	border: 1px solid #ccc;
	height: 82px;
	padding: 5px;
	margin-bottom: 5px;
	margin-right: 25px;
	background: #fff;
}
#photobox .image_block:first-of-type:after {
	content: 'Основное';
	position: absolute;
	top: -1px;
	right: 0px;
	width: 76px;
	padding: 3px;
	text-align: center;
	border: none;
	border-radius: 0 0 .3em .3em;
	transform-origin: top right;
	transform: rotate(-90deg);
	background: #f36711;
	color: #fff;
}
#photobox .image_block:last-of-type {
	margin-bottom: 0;
}
#photobox .image_block.ui-sortable-helper {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
#photobox .ui-sortable-placeholder {
	border-style: dotted;
	background: #fafafa;
}
#photobox .image_block .sort_handle {
	line-height: 70px;
	width: 20px;
	text-align: center;
	margin-right: 5px;
	float: left;
	cursor: move;
	cursor: -webkit-grab;
}
#photobox .image_block .image {
	width: 70px;
	height: 70px;
	margin-right: 5px;
	background: #eee;
	float: left;
	overflow: hidden;
}
#photobox .image_block .image img {
	height: 70px;
	max-height: 100%;
	border: 1px solid #ccc;
	/*box-shadow: 0 0 1px 0 #aaa;*/
}
#photobox .image_block .name {
	width: calc(100% - 130px);
	line-height: 1;
	float: left;
}
#photobox .image_block .name .dz-filename,
#photobox .image_block .name .dz-size {
	line-height: 70px;
	width: 75%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#photobox .image_block .name .dz-size {
	width: 15%;
	float: right;
}
#photobox .image_block .controls {
	line-height: 70px;
	width: 30px;
	float: right;
}
#photobox .image_block .controls p {
	display: block;
	float: right;
	width: 100%;
	color: #444;
	cursor: pointer;
	margin: 0;
}
#photobox .image_block .controls p:hover {
	color: #f00;
}
#photobox .image_block .controls p,
#photobox .image_block .controls p:hover {
	text-decoration: none;
	text-align: center;
	/*margin-right: 1em;*/
}
#photobox .image_block .controls .icon-font {
	font-size: 1.2em;
}

#photobox .image_block_new {
	color: #ccc;
	border-style: dashed;
	height: auto;
	padding: 1em;
	cursor: pointer;
}
#photobox .image_block_new .dz-message {
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}
#photobox .image_block_new.dz-drag-hover {
	/*background: #f36711;*/
	border-color: #f36711;
	color: #f36711;
	border-style: solid;
}
#photobox .image_block_new .dz-message .icon-font {
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	clear: both;
}
#nav_product .add_video {
	font-weight: normal;
	padding: 10px 0;
	display: inline-block;
	cursor: pointer;
	color: #2E62CF;
}
#nav_product .add_video span.icon-font {
	cursor: pointer;
	font-size: 15px;
	vertical-align: bottom;
	color: #2E62CF;
}
#nav_product .video_block {
	list-style-type: decimal;
	width: 98%;
    float: right;
}
#nav_product .video_block input {
	width: 95%;
	margin-bottom: 20px;
}
#nav_product .video_block span.remove_video {
	font-size: 18px;
    width: 5%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
#nav_product .video_block span.remove_video:hover {
	color: #f00;
}

.icon-font.delcat:hover {
	color: #ff1d31;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
	cursor: pointer;
}